node-red/Machine-Up-Time-Monitor-Dashboard.json
[{"id":"91019fdea52bec6d","type":"subflow","name":"Machine Uptime","info":"","category":"NCD","in":[{"x":140,"y":820,"wires":[{"id":"308f73c16a0cf14c"}]}],"out":[],"env":[],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-clock-o","status":{"x":640,"y":280,"wires":[{"id":"7ce508476da5aad0","port":0}]}},{"id":"988fed6a17130659","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"32b670ce2071788b","order":0,"width":0,"height":0,"name":"","label":"Digital Input 1 Counter","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":700,"y":460,"wires":[]},{"id":"1a5534d259037ffd","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"32b670ce2071788b","page":"","ui":"","name":"Fondo1 (master)","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>\n\n<style>\n.vl2{\n  border-left: 400px solid #05058d;\n  height: 44px !important;\n  position: absolute;\n  left: 0%;\n  margin-left: -3px;\n  top: 0;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":720,"y":420,"wires":[[]]},{"id":"fb3edac1a58b7d77","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"32b670ce2071788b","page":"","ui":"","name":"circular1 (master)","order":0,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-numeric-1-box-outline\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <!-- <br> -->\n                Unit\n                <!-- <br> -->\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.circular2{\n    font-size: 44px;\n    font-weight: bold !important;\n    top: -75px !important;\n    left: -5px !important;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":710,"y":500,"wires":[[]]},{"id":"c18585dc01292d64","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"2bea7fde644b2465","order":0,"width":0,"height":0,"name":"","label":"Digital Input 1 Uptimer","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1060,"y":460,"wires":[]},{"id":"03a68a2533dcb2a9","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"2bea7fde644b2465","page":"","ui":"","name":"Fondo2","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1100,"y":420,"wires":[[]]},{"id":"57845d5029a92342","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"2bea7fde644b2465","page":"","ui":"","name":"circular2","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <!-- <br> -->\n                Sec\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1100,"y":500,"wires":[[]]},{"id":"daa0cf30a55507ac","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"8b17f15dd1d3ad8f","order":0,"width":0,"height":0,"name":"","label":"Digital Input 2 Counter","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1400,"y":460,"wires":[]},{"id":"5fbed18adf4257ad","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"8b17f15dd1d3ad8f","page":"","ui":"","name":"Fondo3","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1440,"y":420,"wires":[[]]},{"id":"8c8522b24bfc0d9c","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"8b17f15dd1d3ad8f","page":"","ui":"","name":"circular3","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-numeric-1-box-outline\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <!-- <br> -->\n                Unit\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1440,"y":500,"wires":[[]]},{"id":"be4aef208d423213","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"5523dce91f05076b","order":0,"width":0,"height":0,"name":"","label":"Digital Input 2 Uptimer","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1760,"y":460,"wires":[]},{"id":"df5e0d24650684bf","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"5523dce91f05076b","page":"","ui":"","name":"Fondo4","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1800,"y":420,"wires":[[]]},{"id":"70e7eca1b74cb66c","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"5523dce91f05076b","page":"","ui":"","name":"circular4","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular bg-color=\"#383838\" class=\"circular2\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <!-- <br> -->\n                Sec\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1800,"y":500,"wires":[[]]},{"id":"138aa2d80b2d110c","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"27ea0ec3f151e6c0","order":0,"width":0,"height":0,"name":"","label":"Digital Input 3 Counter","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":2100,"y":460,"wires":[]},{"id":"813854123ea7f713","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"27ea0ec3f151e6c0","page":"","ui":"","name":"Fondo5","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2140,"y":420,"wires":[[]]},{"id":"a1405b441adc9866","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"27ea0ec3f151e6c0","page":"","ui":"","name":"circular5","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-numeric-1-box-outline\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <!-- <br> -->\n                Unit\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2140,"y":500,"wires":[[]]},{"id":"72d320051d10cb80","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"fe093469dea6bb18","order":0,"width":0,"height":0,"name":"","label":"Digital Input 3 Uptimer","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":2440,"y":460,"wires":[]},{"id":"3c029c07352f6805","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"fe093469dea6bb18","page":"","ui":"","name":"Fondo6","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2480,"y":420,"wires":[[]]},{"id":"4e0b8f39e5a5639a","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"fe093469dea6bb18","page":"","ui":"","name":"circular6","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <!-- <br> -->\n                Sec\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2480,"y":500,"wires":[[]]},{"id":"3ca130bb7f783218","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"41a82805c3af896c","order":0,"width":0,"height":0,"name":"","label":"Accelerometer Counter","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":690,"y":720,"wires":[]},{"id":"e829c2bfc7461f45","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"41a82805c3af896c","page":"","ui":"","name":"Fondo7","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":740,"y":680,"wires":[[]]},{"id":"faf9f09fec8d45c8","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"41a82805c3af896c","page":"","ui":"","name":"circular7","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"yellow\" icon=\"mdi-pulse\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <!-- <br> -->\n                Unit\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":740,"y":760,"wires":[[]]},{"id":"a80bcc07d3c69b58","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"0ff33a220e8025ea","order":0,"width":0,"height":0,"name":"","label":"Accelerometer Uptimer","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1060,"y":720,"wires":[]},{"id":"b44dc69fcf391f3f","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"0ff33a220e8025ea","page":"","ui":"","name":"Fondo8","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1100,"y":680,"wires":[[]]},{"id":"b8344cde21c96925","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"0ff33a220e8025ea","page":"","ui":"","name":"circular8","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <!-- <br> -->\n                Sec\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1100,"y":760,"wires":[[]]},{"id":"5c60755a587a3952","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"84f9abfe81f3e191","order":0,"width":0,"height":0,"name":"","label":"Magnetometer Counter","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1390,"y":720,"wires":[]},{"id":"3a4502521101c077","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"84f9abfe81f3e191","page":"","ui":"","name":"Fondo9","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1440,"y":680,"wires":[[]]},{"id":"8ee46b0e01c97388","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"84f9abfe81f3e191","page":"","ui":"","name":"circular9","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-access-point\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <!-- <br> -->\n                Unit\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1440,"y":760,"wires":[[]]},{"id":"5dda8c5929277f23","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"1bd42e6c7d5dba1d","order":0,"width":0,"height":0,"name":"","label":"Magnetometer Uptimer","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1760,"y":720,"wires":[]},{"id":"6ce184f5a06d29fe","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"1bd42e6c7d5dba1d","page":"","ui":"","name":"Fondo10","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1800,"y":680,"wires":[[]]},{"id":"214e7d186ebc2610","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"1bd42e6c7d5dba1d","page":"","ui":"","name":"circular10","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <!-- <br> -->\n                Sec\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1800,"y":760,"wires":[[]]},{"id":"d5aa8733ee9e31b8","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"570cbf77f377ce0e","order":0,"width":0,"height":0,"name":"","label":"Current Value","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":2120,"y":720,"wires":[]},{"id":"47266bf149667104","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"570cbf77f377ce0e","page":"","ui":"","name":"Fondo11","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2140,"y":680,"wires":[[]]},{"id":"68c50f74124ef171","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"570cbf77f377ce0e","page":"","ui":"","name":"circular11","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-flash\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.scale.toFixed(2)}}\n                <br>\n                <!-- <br> -->\n                A\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.circular1{\n    font-size: xx-large;\n    font-weight: bold !important;\n    top: -75px !important;\n    left: 29px !important;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2140,"y":760,"wires":[[]]},{"id":"69193220cdb80bd4","type":"ui-chart","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"6d2a8d8f05b1424e","name":"","label":"","order":3,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"30","colors":["#fff700","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"7","height":"3","className":"char","x":2120,"y":900,"wires":[[]]},{"id":"328d57b5f63a8f5b","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"8efbb7965d5e098c","order":0,"width":0,"height":0,"name":"","label":"Battery Level","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":2470,"y":720,"wires":[]},{"id":"3fdb9f242b186e13","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"8efbb7965d5e098c","page":"","ui":"","name":"Fondo12","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2480,"y":680,"wires":[[]]},{"id":"89a4b9f891500d97","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"8efbb7965d5e098c","page":"","ui":"","name":"circular12","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-battery-charging-60\"></v-icon>\n                <br>\n                <!-- <br> -->\n            </div>\n            <div>\n                {{ msg.payload.toFixed(2)}}\n                <br>\n                <!-- <br> -->\n                %\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2480,"y":760,"wires":[[]]},{"id":"260d113d14b38bae","type":"ui-chart","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"1f45ebd971768bdb","name":"","label":"","order":9007199254740991,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"30","colors":["#fbff00","#eeff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"7","height":"3","className":"char","x":2460,"y":900,"wires":[[]]},{"id":"a856dd4f4b77df25","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.accelerometer_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":760,"wires":[["d0200ef75f26033f"]],"l":false},{"id":"989c92875faac4d8","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 1","links":["308f73c16a0cf14c"],"x":525,"y":760,"wires":[["a856dd4f4b77df25"]]},{"id":"d0200ef75f26033f","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":625,"y":760,"wires":[["faf9f09fec8d45c8"]],"l":false},{"id":"4f9ae596207a1501","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"6d2a8d8f05b1424e","page":"","ui":"","name":"Fondo current char","order":2,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl3\"></div>\n</template>\n<style>\n.vl3{\n    border-left: 1000px solid #05058d;\n    height: 44px !important;\n    position: absolute;\n    left: 0%;\n    margin-left: -3px;\n    top: 0;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2110,"y":820,"wires":[[]]},{"id":"b69d1c2dbbd0e5a5","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"6d2a8d8f05b1424e","order":1,"width":0,"height":0,"name":"","label":"Current History","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"19","color":"#ffffff","className":"text","x":2120,"y":860,"wires":[]},{"id":"7dcf52cd8f796adb","type":"ui-template","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"1f45ebd971768bdb","page":"","ui":"","name":"Fondo current char","order":2,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl3\"></div>\n</template>\n<style>\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2450,"y":820,"wires":[[]]},{"id":"61f6cbacc16f8ce3","type":"ui-text","z":"91019fdea52bec6d","g":"e556954b308ffc0f","group":"1f45ebd971768bdb","order":1,"width":0,"height":0,"name":"","label":"Battery Level History","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"19","color":"#ffffff","className":"text","x":2440,"y":860,"wires":[]},{"id":"695b37c78034e706","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.accelerometer_timer","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":945,"y":760,"wires":[["59d7c96c35a1d71a"]],"l":false},{"id":"1a052fce7f5c5cb8","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 6","links":["308f73c16a0cf14c"],"x":895,"y":760,"wires":[["695b37c78034e706"]]},{"id":"59d7c96c35a1d71a","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":995,"y":760,"wires":[["b8344cde21c96925"]],"l":false},{"id":"2f35f32f512ef87c","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_1_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":515,"y":500,"wires":[["bc47bdc0fd826b69"]],"l":false},{"id":"007c87ab2cd22d3f","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 7","links":["308f73c16a0cf14c"],"x":465,"y":500,"wires":[["2f35f32f512ef87c"]]},{"id":"bc47bdc0fd826b69","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":565,"y":500,"wires":[["fb3edac1a58b7d77"]],"l":false},{"id":"9a1315d3b2e2a918","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_1_timer","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":945,"y":500,"wires":[["0bd47f67d44a0c88"]],"l":false},{"id":"77118f5f108dff10","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 8","links":["308f73c16a0cf14c"],"x":895,"y":500,"wires":[["9a1315d3b2e2a918"]]},{"id":"0bd47f67d44a0c88","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":995,"y":500,"wires":[["57845d5029a92342"]],"l":false},{"id":"6df55ace9eaa6360","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.magnetometer_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1275,"y":760,"wires":[["e509ca3426612ca6"]],"l":false},{"id":"fc49d75c859b3437","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 9","links":["308f73c16a0cf14c"],"x":1225,"y":760,"wires":[["6df55ace9eaa6360"]]},{"id":"e509ca3426612ca6","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":1325,"y":760,"wires":[["8ee46b0e01c97388"]],"l":false},{"id":"c4dab9f32a78a045","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.magnetometer_timer","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1615,"y":760,"wires":[["a67b11a9cb66e3ef"]],"l":false},{"id":"10ebd2c6f0d80674","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 10","links":["308f73c16a0cf14c"],"x":1565,"y":760,"wires":[["c4dab9f32a78a045"]]},{"id":"a67b11a9cb66e3ef","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"65535","x":1665,"y":760,"wires":[["214e7d186ebc2610"]],"l":false},{"id":"7ad3e8fe3346e2e7","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ac_current","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1975,"y":760,"wires":[["444bc3377ab64a60","69193220cdb80bd4"]],"l":false},{"id":"07780ff6c81baaed","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 11","links":["308f73c16a0cf14c"],"x":1925,"y":760,"wires":[["7ad3e8fe3346e2e7"]]},{"id":"444bc3377ab64a60","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"65535","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":2025,"y":760,"wires":[["68c50f74124ef171"]],"l":false},{"id":"4b74eed5480b8abe","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2325,"y":760,"wires":[["89a4b9f891500d97","260d113d14b38bae"]],"l":false},{"id":"b5a20e37b9ae4548","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 12","links":["308f73c16a0cf14c"],"x":2275,"y":760,"wires":[["4b74eed5480b8abe"]]},{"id":"9adcf07ac2150c20","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_2_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1285,"y":500,"wires":[["29ee8b91df98beeb"]],"l":false},{"id":"1f5b131dbb72f1ee","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 13","links":["308f73c16a0cf14c"],"x":1235,"y":500,"wires":[["9adcf07ac2150c20"]]},{"id":"29ee8b91df98beeb","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":1335,"y":500,"wires":[["8c8522b24bfc0d9c"]],"l":false},{"id":"d1d071c7a7c017e2","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_2_timer","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1645,"y":500,"wires":[["25b9a44279b5c460"]],"l":false},{"id":"52b1a116a4859b7c","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 14","links":["308f73c16a0cf14c"],"x":1595,"y":500,"wires":[["d1d071c7a7c017e2"]]},{"id":"25b9a44279b5c460","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":1695,"y":500,"wires":[["70e7eca1b74cb66c"]],"l":false},{"id":"b222865d878d8a1d","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_3_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1985,"y":500,"wires":[["49495da135227c72"]],"l":false},{"id":"b071544e037b586f","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 15","links":["308f73c16a0cf14c"],"x":1935,"y":500,"wires":[["b222865d878d8a1d"]]},{"id":"49495da135227c72","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":2035,"y":500,"wires":[["a1405b441adc9866"]],"l":false},{"id":"8c4f1d139bec77f3","type":"change","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_3_timer","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2325,"y":500,"wires":[["03ab071b8dad9d4a"]],"l":false},{"id":"1c0b6b36200ec1b3","type":"link in","z":"91019fdea52bec6d","g":"e556954b308ffc0f","name":"link in 16","links":["308f73c16a0cf14c"],"x":2275,"y":500,"wires":[["8c4f1d139bec77f3"]]},{"id":"03ab071b8dad9d4a","type":"range","z":"91019fdea52bec6d","g":"e556954b308ffc0f","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":2375,"y":500,"wires":[["4e0b8f39e5a5639a"]],"l":false},{"id":"96a13b5bdd2dba6e","type":"ui-template","z":"91019fdea52bec6d","g":"6c77e80257b608a8","group":"","page":"a86bc042451923a9","ui":"","name":"Style","order":0,"width":0,"height":0,"head":"","format":"/*ancho de los grupos*/\n.grupoo{\n    width: 295px !important;\n}\n/*Largo de grupos*/\n.nrdb-ui-group>.v-card {\n    height: 322px;\n}\n/* Posicion de la base de los grupos\n.nrdb-ui-page{\n    left: -41px !important;\n    position: relative !important;\n} */\n.v-main {\n    background-image: url(\" https://www.transparenttextures.com/patterns/diagmonds-light.png\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    /* border-radius: 15px !important; */\n}\n.bg-group-background{\n    background-color: rgba(2, 2, 2, 0.866) !important;\n    border-color: #000000fe !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: rgb(5, 5, 5, 141) !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: rgba(4, 4, 4, 0.653) !important;\n}\n.text\n{\n    top: -13px;\n    left: -11px;\n    position: relative;\n    z-index: 2;\n    width: 280px !important;\n    font-weight: bold !important;\n    \n}\n.char{\n    position: relative;\n    left: -12px;\n    top: -105px;\n    height: 304px !important;\n    width: 886px !important;\n}\n.groupGraph{\n    width: 897px !important;\n}\n.nrdb-ui-text{\n    color: white !important;\n}\n/*Color de letra nombre grupos*/\n.v-card-title {\n    color: white;\n}\n/* Posicion titulo grupos */\n.v-card-item {\n    left: 234px;\n    position: relative;\n    top: -12px;\n}\n.dataGroup .v-card{\nheight: 978px !important;\n}","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":2430,"y":200,"wires":[[]]},{"id":"1a1ef5eec965761f","type":"ui-template","z":"91019fdea52bec6d","g":"6c77e80257b608a8","group":"","page":"a86bc042451923a9","ui":"","name":"Logo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"logo2\">\n        <v-chip label size=\"x-large\" :width=\"144\" color=\"black\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.logo2 {\n    transform: rotate(0deg);\n    width: 130px;\n    position: fixed;\n    top: 13px;\n    left: 12px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":2310,"y":200,"wires":[[]]},{"id":"2688b9ebf5e1f887","type":"ui-template","z":"91019fdea52bec6d","g":"6c77e80257b608a8","group":"","page":"a86bc042451923a9","ui":"","name":"product info","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <a href=\"https://ncd.io/blog/machine-up-time-monitoring-product-manual/\" target=\"_blank\">\n        <v-btn class=\"info\" color=\"white\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.info{\n    top: -49px !important;\n    left: -160px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":2170,"y":200,"wires":[[]]},{"id":"308f73c16a0cf14c","type":"link out","z":"91019fdea52bec6d","name":"link out 1","mode":"link","links":["1c0b6b36200ec1b3","fc49d75c859b3437","07780ff6c81baaed","10ebd2c6f0d80674","007c87ab2cd22d3f","b5a20e37b9ae4548","52b1a116a4859b7c","d231be53f572645c","989c92875faac4d8","1f5b131dbb72f1ee","77118f5f108dff10","b071544e037b586f","1a052fce7f5c5cb8","a35c13575a932d7e","c8a3c7ecd90c290c","52c5f2bfb69f6948"],"x":205,"y":820,"wires":[]},{"id":"7ce508476da5aad0","type":"function","z":"91019fdea52bec6d","name":"function 6","func":"msg = {\n    \"status\": {\n        \"fill\": \"green\",\n        \"shape\": \"dot\",\n        \"text\": \"ready\"\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":280,"wires":[[]]},{"id":"d231be53f572645c","type":"link in","z":"91019fdea52bec6d","name":"link in 18","links":["308f73c16a0cf14c"],"x":435,"y":280,"wires":[["7ce508476da5aad0"]]},{"id":"bee18ff0ae412308","type":"function","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"getTemUnit","func":"let toggle = context.get(\"toggle\") || 0;\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    unit = {\n        groups: \n        { \n            show: [\"ncd-uptime:Inspect1\",\n                   \"ncd-uptime:Inspect2\",\n                   \"ncd-uptime:Inspect3\"],\n            hide: [\"ncd-uptime:group1\", \n                   \"ncd-uptime:group2\",\n                   \"ncd-uptime:group3\",\n                   \"ncd-uptime:group4\",\n                   \"ncd-uptime:group5\",\n                   \"ncd-uptime:group6\",\n                   \"ncd-uptime:group7\",\n                   \"ncd-uptime:group8\",\n                   \"ncd-uptime:group9\",\n                   \"ncd-uptime:group10\",\n                   \"ncd-uptime:group11\",\n                   \"ncd-uptime:group12\",\n                   \"ncd-uptime:Current History\",\n                   \"ncd-uptime:Battery Level History\"]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    unit = {\n        groups: \n        { \n            hide: [\"ncd-uptime:Inspect1\",\n                \"ncd-uptime:Inspect2\",\n                \"ncd-uptime:Inspect3\"],\n            show: [\"ncd-uptime:group1\",\n                \"ncd-uptime:group2\",\n                \"ncd-uptime:group3\",\n                \"ncd-uptime:group4\",\n                \"ncd-uptime:group5\",\n                \"ncd-uptime:group6\",\n                \"ncd-uptime:group7\",\n                \"ncd-uptime:group8\",\n                \"ncd-uptime:group9\",\n                \"ncd-uptime:group10\",\n                \"ncd-uptime:group11\",\n                \"ncd-uptime:group12\",\n                \"ncd-uptime:Current History\",\n                \"ncd-uptime:Battery Level History\"]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1020,"wires":[["1f2d99269f010299"]]},{"id":"cad65281c61267ba","type":"ui-template","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"","page":"a86bc042451923a9","ui":"","name":"product info","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"inspectMUTC\" @click=\"send({payload:true})\" color=\"white\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.inspectMUTC{\n    top: -96px !important;\n    left: -303px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":530,"y":1020,"wires":[["bee18ff0ae412308"]]},{"id":"1f2d99269f010299","type":"ui-control","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","ui":"ec459411017ddf37","events":"all","x":930,"y":1020,"wires":[[]]},{"id":"5768bcbf8579b1ba","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":660,"y":1160,"wires":[]},{"id":"54e1ea86e031dee3","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":690,"y":1200,"wires":[]},{"id":"b11d195f919a90e2","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":660,"y":1240,"wires":[]},{"id":"ac03014b43f9ccc0","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":670,"y":1280,"wires":[]},{"id":"b3006220dfb182aa","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":660,"y":1320,"wires":[]},{"id":"ca9afc7bd8e2157e","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":670,"y":1360,"wires":[]},{"id":"5915a4afe2c07f54","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":680,"y":1400,"wires":[]},{"id":"f469ad92a7f8cd9f","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":650,"y":1440,"wires":[]},{"id":"e3c3772bad41f9bd","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":660,"y":1480,"wires":[]},{"id":"abe91c10e939ab34","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1160,"wires":[["5768bcbf8579b1ba"]],"l":false},{"id":"a35c13575a932d7e","type":"link in","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"link in 4","links":["308f73c16a0cf14c"],"x":475,"y":1340,"wires":[["abe91c10e939ab34","262c58324e3b55c0","7a338cac9aab1d4d","0ddfca98413245b8","8cf20daf06dc356a","9d1bb1b6aa52e97e","5b9c92b57d7470d0","1c48bb6e4f88df7a","ab52ca88e1b4f755","366e8416df4580da"]]},{"id":"262c58324e3b55c0","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1200,"wires":[["54e1ea86e031dee3"]],"l":false},{"id":"7a338cac9aab1d4d","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1240,"wires":[["b11d195f919a90e2"]],"l":false},{"id":"0ddfca98413245b8","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1280,"wires":[["ac03014b43f9ccc0"]],"l":false},{"id":"8cf20daf06dc356a","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1320,"wires":[["b3006220dfb182aa"]],"l":false},{"id":"9d1bb1b6aa52e97e","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1360,"wires":[["ca9afc7bd8e2157e"]],"l":false},{"id":"5b9c92b57d7470d0","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1400,"wires":[["5915a4afe2c07f54"]],"l":false},{"id":"1c48bb6e4f88df7a","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1440,"wires":[["f469ad92a7f8cd9f"]],"l":false},{"id":"ab52ca88e1b4f755","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1480,"wires":[["e3c3772bad41f9bd"]],"l":false},{"id":"cf9ee769bcaf173c","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":660,"y":1520,"wires":[]},{"id":"366e8416df4580da","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1520,"wires":[["cf9ee769bcaf173c"]],"l":false},{"id":"411dcef8f0e82da4","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":2,"width":"0","height":"0","name":"Current Value","label":"Current Value in A:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1040,"y":1160,"wires":[]},{"id":"910f6708368fb5f4","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.ac_current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1160,"wires":[["411dcef8f0e82da4"]],"l":false},{"id":"6c89e12e26b9e682","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":3,"width":"0","height":"0","name":"Digital Input 1 Counter","label":"Digital Input 1 Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1200,"wires":[]},{"id":"01e5d0ea90671de7","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_1_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1200,"wires":[["6c89e12e26b9e682"]],"l":false},{"id":"7e4e4aa59c6a495c","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":4,"width":"0","height":"0","name":"Digital Input 1 Uptimer","label":"Digital Input 1 Uptimer:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1240,"wires":[]},{"id":"b6f7d09e68124101","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_1_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1240,"wires":[["7e4e4aa59c6a495c"]],"l":false},{"id":"304dbe44e8577eb9","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":5,"width":"0","height":"0","name":"Digital Input 2 Counter","label":"Digital Input 2 Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1280,"wires":[]},{"id":"da566486fc854f10","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_2_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1280,"wires":[["304dbe44e8577eb9"]],"l":false},{"id":"6cc390d34ff52af3","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":6,"width":"0","height":"0","name":"Digital Input 2 Uptimer","label":"Digital Input 2 Uptimer:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1320,"wires":[]},{"id":"b9c590651cb800d8","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_2_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1320,"wires":[["6cc390d34ff52af3"]],"l":false},{"id":"01b3ddb3ddf272c7","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"1a94e0775f89a6c0","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":650,"y":1120,"wires":[]},{"id":"5dd4baa0f854a652","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":1030,"y":1120,"wires":[]},{"id":"c8a3c7ecd90c290c","type":"link in","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"link in 5","links":["308f73c16a0cf14c"],"x":815,"y":1360,"wires":[["910f6708368fb5f4","01e5d0ea90671de7","b6f7d09e68124101","da566486fc854f10","b9c590651cb800d8","7630574b992f62f0","61781bfc4a226fae","a93ad95cccb2f546","cbefe97649869a10","e2f76e4945f83793","de6a21ae230db8c9"]]},{"id":"f9fb30eab8ac19be","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":1450,"y":1120,"wires":[]},{"id":"be2fa94e25673cee","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1430,"y":1160,"wires":[]},{"id":"a874d6da75a9282a","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1160,"wires":[["be2fa94e25673cee"]],"l":false},{"id":"be81c7e4f97e88ab","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":7,"width":"0","height":"0","name":"Digital Input 3 Counter","label":"Digital Input 3 Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1360,"wires":[]},{"id":"7630574b992f62f0","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_3_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1360,"wires":[["be81c7e4f97e88ab"]],"l":false},{"id":"f4fb3e5be9c4e0e2","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":8,"width":"0","height":"0","name":"Digital Input 3 Uptimer","label":"Digital Input 3 Uptimer:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1400,"wires":[]},{"id":"61781bfc4a226fae","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_3_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1400,"wires":[["f4fb3e5be9c4e0e2"]],"l":false},{"id":"678c502f1a216f09","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":9,"width":"0","height":"0","name":"Accelerometer Counter","label":"Accelerometer Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1070,"y":1440,"wires":[]},{"id":"a93ad95cccb2f546","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1440,"wires":[["678c502f1a216f09"]],"l":false},{"id":"4f257b8c042dcd6a","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":10,"width":"0","height":"0","name":"Accelerometer Uptimer","label":"Accelerometer Uptimer:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1480,"wires":[]},{"id":"cbefe97649869a10","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1480,"wires":[["4f257b8c042dcd6a"]],"l":false},{"id":"0949d1ea0f5d4032","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":3,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":1480,"y":1200,"wires":[]},{"id":"98a79439a17ef62f","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":4,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1430,"y":1240,"wires":[]},{"id":"f28a3d7492e29aab","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1240,"wires":[["98a79439a17ef62f"]],"l":false},{"id":"9a2f6b12b929d6fc","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1440,"y":1280,"wires":[]},{"id":"bd464b943991fab2","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1280,"wires":[["9a2f6b12b929d6fc"]],"l":false},{"id":"e92d798b496b962e","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1430,"y":1320,"wires":[]},{"id":"16e6d3f096db8f1c","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1320,"wires":[["e92d798b496b962e"]],"l":false},{"id":"a06bed3fa3e9ec11","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1450,"y":1360,"wires":[]},{"id":"78c0bca99df0ccb7","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1360,"wires":[["a06bed3fa3e9ec11"]],"l":false},{"id":"87f650580ad503c9","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1430,"y":1400,"wires":[]},{"id":"15f28b7dce36730a","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1400,"wires":[["87f650580ad503c9"]],"l":false},{"id":"162df120d0df21cf","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":9,"width":"0","height":"0","name":"time","label":"time:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1430,"y":1440,"wires":[]},{"id":"e765e630798bbcf6","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1440,"wires":[["162df120d0df21cf"]],"l":false},{"id":"26c76cecd148e2e9","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":11,"width":"0","height":"0","name":"Magnetometer Counter","label":"Magnetometer Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1070,"y":1520,"wires":[]},{"id":"e2f76e4945f83793","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1520,"wires":[["26c76cecd148e2e9"]],"l":false},{"id":"c7050dca8f90bdd9","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"d107f82db65b9383","order":12,"width":"0","height":"0","name":"Magnetometer Uptimer","label":"Magnetometer Uptimer:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1560,"wires":[]},{"id":"de6a21ae230db8c9","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1560,"wires":[["c7050dca8f90bdd9"]],"l":false},{"id":"713665a2867509d9","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":11,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":1480,"y":1540,"wires":[]},{"id":"0762bb83f7783dcd","type":"change","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1540,"wires":[["713665a2867509d9"]],"l":false},{"id":"6f1778ba4384253b","type":"ui-text","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","group":"c15abeec8d94c586","order":10,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#000000","className":"","x":1430,"y":1500,"wires":[]},{"id":"52c5f2bfb69f6948","type":"link in","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"link in 17","links":["308f73c16a0cf14c"],"x":1235,"y":1360,"wires":[["a874d6da75a9282a","f28a3d7492e29aab","bd464b943991fab2","16e6d3f096db8f1c","78c0bca99df0ccb7","15f28b7dce36730a","e765e630798bbcf6","0762bb83f7783dcd"]]},{"id":"d86cf393b3fb1e07","type":"function","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","name":"getTemUnit","func":"let unit = {\n    groups: \n    { \n            hide: [\"ncd-uptime:Inspect1\",\n                \"ncd-uptime:Inspect2\",\n                \"ncd-uptime:Inspect3\"],\n            show:[\"ncd-uptime:group1\",\n                \"ncd-uptime:group2\",\n                \"ncd-uptime:group3\",\n                \"ncd-uptime:group4\",\n                \"ncd-uptime:group5\",\n                \"ncd-uptime:group6\",\n                \"ncd-uptime:group7\",\n                \"ncd-uptime:group8\",\n                \"ncd-uptime:group9\",\n                \"ncd-uptime:group10\",\n                \"ncd-uptime:group11\",\n                \"ncd-uptime:group12\",\n                \"ncd-uptime:Current History\",\n                \"ncd-uptime:Battery Level History\"]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1060,"wires":[["1f2d99269f010299"]]},{"id":"df692635de71b44c","type":"ui-event","z":"91019fdea52bec6d","g":"4e9e095d9de1efce","ui":"ec459411017ddf37","name":"","x":510,"y":1060,"wires":[["d86cf393b3fb1e07"]]},{"id":"1a94e0775f89a6c0","type":"ui-group","z":"91019fdea52bec6d","name":"Inspect1","page":"a86bc042451923a9","width":"5","height":"1","order":15,"showTitle":false,"className":"dataGroup","visible":"true","disabled":"false"},{"id":"d107f82db65b9383","type":"ui-group","z":"91019fdea52bec6d","name":"Inspect2","page":"a86bc042451923a9","width":"5","height":"1","order":16,"showTitle":false,"className":"dataGroup","visible":"true","disabled":"false"},{"id":"c15abeec8d94c586","type":"ui-group","z":"91019fdea52bec6d","name":"Inspect3","page":"a86bc042451923a9","width":"5","height":"1","order":17,"showTitle":false,"className":"dataGroup","visible":"true","disabled":"false"},{"id":"6c77e80257b608a8","type":"group","z":"91019fdea52bec6d","name":"STYLE","style":{"stroke":"#999999","fill":"none","fill-opacity":"1","label":true,"color":"#a4a4a4"},"nodes":["96a13b5bdd2dba6e","1a1ef5eec965761f","2688b9ebf5e1f887"],"x":2074,"y":159,"w":432,"h":82},{"id":"e556954b308ffc0f","type":"group","z":"91019fdea52bec6d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["988fed6a17130659","1a5534d259037ffd","fb3edac1a58b7d77","c18585dc01292d64","03a68a2533dcb2a9","57845d5029a92342","daa0cf30a55507ac","5fbed18adf4257ad","8c8522b24bfc0d9c","be4aef208d423213","df5e0d24650684bf","70e7eca1b74cb66c","138aa2d80b2d110c","813854123ea7f713","a1405b441adc9866","72d320051d10cb80","3c029c07352f6805","4e0b8f39e5a5639a","3ca130bb7f783218","e829c2bfc7461f45","faf9f09fec8d45c8","a80bcc07d3c69b58","b44dc69fcf391f3f","b8344cde21c96925","5c60755a587a3952","3a4502521101c077","8ee46b0e01c97388","5dda8c5929277f23","6ce184f5a06d29fe","214e7d186ebc2610","d5aa8733ee9e31b8","47266bf149667104","68c50f74124ef171","69193220cdb80bd4","328d57b5f63a8f5b","3fdb9f242b186e13","89a4b9f891500d97","260d113d14b38bae","a856dd4f4b77df25","989c92875faac4d8","d0200ef75f26033f","4f9ae596207a1501","b69d1c2dbbd0e5a5","7dcf52cd8f796adb","61f6cbacc16f8ce3","695b37c78034e706","1a052fce7f5c5cb8","59d7c96c35a1d71a","2f35f32f512ef87c","007c87ab2cd22d3f","bc47bdc0fd826b69","9a1315d3b2e2a918","77118f5f108dff10","0bd47f67d44a0c88","6df55ace9eaa6360","fc49d75c859b3437","e509ca3426612ca6","c4dab9f32a78a045","10ebd2c6f0d80674","a67b11a9cb66e3ef","7ad3e8fe3346e2e7","07780ff6c81baaed","444bc3377ab64a60","4b74eed5480b8abe","b5a20e37b9ae4548","9adcf07ac2150c20","1f5b131dbb72f1ee","29ee8b91df98beeb","d1d071c7a7c017e2","52b1a116a4859b7c","25b9a44279b5c460","b222865d878d8a1d","b071544e037b586f","49495da135227c72","8c4f1d139bec77f3","1c0b6b36200ec1b3","03ab071b8dad9d4a"],"x":424,"y":379,"w":2142,"h":562},{"id":"4e9e095d9de1efce","type":"group","z":"91019fdea52bec6d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bee18ff0ae412308","cad65281c61267ba","1f2d99269f010299","5768bcbf8579b1ba","54e1ea86e031dee3","b11d195f919a90e2","ac03014b43f9ccc0","b3006220dfb182aa","ca9afc7bd8e2157e","5915a4afe2c07f54","f469ad92a7f8cd9f","e3c3772bad41f9bd","abe91c10e939ab34","a35c13575a932d7e","262c58324e3b55c0","7a338cac9aab1d4d","0ddfca98413245b8","8cf20daf06dc356a","9d1bb1b6aa52e97e","5b9c92b57d7470d0","1c48bb6e4f88df7a","ab52ca88e1b4f755","cf9ee769bcaf173c","366e8416df4580da","411dcef8f0e82da4","910f6708368fb5f4","6c89e12e26b9e682","01e5d0ea90671de7","7e4e4aa59c6a495c","b6f7d09e68124101","304dbe44e8577eb9","da566486fc854f10","6cc390d34ff52af3","b9c590651cb800d8","01b3ddb3ddf272c7","5dd4baa0f854a652","c8a3c7ecd90c290c","f9fb30eab8ac19be","be2fa94e25673cee","a874d6da75a9282a","be81c7e4f97e88ab","7630574b992f62f0","f4fb3e5be9c4e0e2","61781bfc4a226fae","678c502f1a216f09","a93ad95cccb2f546","4f257b8c042dcd6a","cbefe97649869a10","0949d1ea0f5d4032","98a79439a17ef62f","f28a3d7492e29aab","9a2f6b12b929d6fc","bd464b943991fab2","e92d798b496b962e","16e6d3f096db8f1c","a06bed3fa3e9ec11","78c0bca99df0ccb7","87f650580ad503c9","15f28b7dce36730a","162df120d0df21cf","e765e630798bbcf6","26c76cecd148e2e9","e2f76e4945f83793","c7050dca8f90bdd9","de6a21ae230db8c9","713665a2867509d9","0762bb83f7783dcd","6f1778ba4384253b","52c5f2bfb69f6948","d86cf393b3fb1e07","df692635de71b44c"],"x":434,"y":979,"w":1172,"h":622},{"id":"32b670ce2071788b","type":"ui-group","name":"group1","page":"a86bc042451923a9","width":"3","height":"1","order":1,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"2bea7fde644b2465","type":"ui-group","name":"group2","page":"a86bc042451923a9","width":"3","height":"1","order":2,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"8b17f15dd1d3ad8f","type":"ui-group","name":"group3","page":"a86bc042451923a9","width":"3","height":"1","order":3,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"5523dce91f05076b","type":"ui-group","name":"group4","page":"a86bc042451923a9","width":"3","height":"1","order":4,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"27ea0ec3f151e6c0","type":"ui-group","name":"group5","page":"a86bc042451923a9","width":"3","height":"1","order":5,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"fe093469dea6bb18","type":"ui-group","name":"group6","page":"a86bc042451923a9","width":"3","height":"1","order":6,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"41a82805c3af896c","type":"ui-group","name":"group7","page":"a86bc042451923a9","width":"3","height":"1","order":7,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"0ff33a220e8025ea","type":"ui-group","name":"group8","page":"a86bc042451923a9","width":"3","height":"1","order":8,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"84f9abfe81f3e191","type":"ui-group","name":"group9","page":"a86bc042451923a9","width":"3","height":"1","order":9,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"1bd42e6c7d5dba1d","type":"ui-group","name":"group10","page":"a86bc042451923a9","width":"3","height":"1","order":10,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"570cbf77f377ce0e","type":"ui-group","name":"group11","page":"a86bc042451923a9","width":"3","height":"1","order":11,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"6d2a8d8f05b1424e","type":"ui-group","name":"Current History","page":"a86bc042451923a9","width":"7","height":"1","order":13,"showTitle":false,"className":"groupGraph","visible":"true","disabled":"false"},{"id":"8efbb7965d5e098c","type":"ui-group","name":"group12","page":"a86bc042451923a9","width":"3","height":"1","order":12,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"1f45ebd971768bdb","type":"ui-group","name":"Battery Level History","page":"a86bc042451923a9","width":"7","height":"1","order":14,"showTitle":false,"className":"groupGraph","visible":"true","disabled":"false"},{"id":"a86bc042451923a9","type":"ui-page","name":"ncd-uptime","ui":"ec459411017ddf37","path":"/uptime","icon":"update","layout":"flex","theme":"b5f491106ed516b4","order":1,"className":"","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"b5f491106ed516b4","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#000000","groupBg":"#191a1a","groupOutline":"#313030"},"sizes":{"pagePadding":"12px","groupGap":"6px","groupBorderRadius":"8px","widgetGap":"10px"}},{"id":"191e22cc37bd85af","type":"subflow:91019fdea52bec6d","z":"0f850dc8977c3d53","name":"","x":1480,"y":2220,"wires":[]}]
