node-red/Machine-Up-Time-Monitor-Dashboard.json
[{"id":"4eb4fef318281ab2","type":"subflow","name":"Machine Uptime","info":"","category":"NCD","in":[{"x":140,"y":820,"wires":[{"id":"b3e0f183813cc5a0"}]}],"out":[],"env":[],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-clock-o","status":{"x":640,"y":280,"wires":[{"id":"3b135137976aea3d","port":0}]}},{"id":"06093b8dde9af591","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"c3d9c4f588d21afc","order":0,"width":0,"height":0,"name":"","label":"Digital Input 1 Counter","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":700,"y":460,"wires":[]},{"id":"2aad362166d035d3","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"c3d9c4f588d21afc","page":"","ui":"","name":"Fondo1 (master)","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>\n\n<style>\n.vl2{\n  border-left: 400px solid #05058d;\n  height: 44px !important;\n  position: absolute;\n  left: 0%;\n  margin-left: -3px;\n  top: 0;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":720,"y":420,"wires":[[]]},{"id":"30663527784fde46","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"c3d9c4f588d21afc","page":"","ui":"","name":"circular1 (master)","order":0,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-numeric-1-box-outline\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                Unit\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.circular2{\n    font-size: 44px;\n    font-weight: bold !important;\n    top: -75px !important;\n    left: -5px !important;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":710,"y":500,"wires":[[]]},{"id":"9b830ed6892bdb82","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"c9d7f63b830bc5d4","order":0,"width":0,"height":0,"name":"","label":"Digital Input 1 Uptimer","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1060,"y":460,"wires":[]},{"id":"f515f55b32a6cb02","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"c9d7f63b830bc5d4","page":"","ui":"","name":"Fondo2","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1100,"y":420,"wires":[[]]},{"id":"f398755917d9ae37","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"c9d7f63b830bc5d4","page":"","ui":"","name":"circular2","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                Sec\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1100,"y":500,"wires":[[]]},{"id":"48637d201cabf9cc","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"40e041c28c1037ac","order":0,"width":0,"height":0,"name":"","label":"Digital Input 2 Counter","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1400,"y":460,"wires":[]},{"id":"202cc7560c451e40","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"40e041c28c1037ac","page":"","ui":"","name":"Fondo3","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1440,"y":420,"wires":[[]]},{"id":"bd69221e0b2a0ae7","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"40e041c28c1037ac","page":"","ui":"","name":"circular3","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-numeric-1-box-outline\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                Unit\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1440,"y":500,"wires":[[]]},{"id":"d6eeb773410446bb","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"b892527d16c30ee8","order":0,"width":0,"height":0,"name":"","label":"Digital Input 2 Uptimer","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1760,"y":460,"wires":[]},{"id":"2b3d073991393705","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"b892527d16c30ee8","page":"","ui":"","name":"Fondo4","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1800,"y":420,"wires":[[]]},{"id":"3f2f4286510a79e0","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"b892527d16c30ee8","page":"","ui":"","name":"circular4","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular bg-color=\"#383838\" class=\"circular2\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                Sec\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1800,"y":500,"wires":[[]]},{"id":"ea51c2b89024b85e","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"223a3af354b24ea7","order":0,"width":0,"height":0,"name":"","label":"Digital Input 3 Counter","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":2100,"y":460,"wires":[]},{"id":"67f740f1fb0ef9d6","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"223a3af354b24ea7","page":"","ui":"","name":"Fondo5","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2140,"y":420,"wires":[[]]},{"id":"7b96282836be4eec","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"223a3af354b24ea7","page":"","ui":"","name":"circular5","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-numeric-1-box-outline\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                Unit\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2140,"y":500,"wires":[[]]},{"id":"cc0ad3acfa25be11","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"91a5a1411ad72a39","order":0,"width":0,"height":0,"name":"","label":"Digital Input 3 Uptimer","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":2440,"y":460,"wires":[]},{"id":"9f9404c6184b7a88","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"91a5a1411ad72a39","page":"","ui":"","name":"Fondo6","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2480,"y":420,"wires":[[]]},{"id":"f5a274a362f73e38","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"91a5a1411ad72a39","page":"","ui":"","name":"circular6","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                Sec\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2480,"y":500,"wires":[[]]},{"id":"984aab9cb3ec8c47","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"547e0ba97903ed8a","order":0,"width":0,"height":0,"name":"","label":"Accelerometer Counter","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":690,"y":720,"wires":[]},{"id":"833ed7ab58cc2da5","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"547e0ba97903ed8a","page":"","ui":"","name":"Fondo7","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":740,"y":680,"wires":[[]]},{"id":"9e2bb0c419ed3d83","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"547e0ba97903ed8a","page":"","ui":"","name":"circular7","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"yellow\" icon=\"mdi-pulse\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                Unit\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":740,"y":760,"wires":[[]]},{"id":"b3d5ac6d23588b7b","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"2e432beae847db42","order":0,"width":0,"height":0,"name":"","label":"Accelerometer Uptimer","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1060,"y":720,"wires":[]},{"id":"8e8a8b2a84a9e93b","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"2e432beae847db42","page":"","ui":"","name":"Fondo8","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1100,"y":680,"wires":[[]]},{"id":"41025bd5b68c6f34","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"2e432beae847db42","page":"","ui":"","name":"circular8","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                Sec\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1100,"y":760,"wires":[[]]},{"id":"53b71d257b75d6ca","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"48a139d82719f825","order":0,"width":0,"height":0,"name":"","label":"Magnetometer Counter","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1390,"y":720,"wires":[]},{"id":"713cf8bd64a7c005","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"48a139d82719f825","page":"","ui":"","name":"Fondo9","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1440,"y":680,"wires":[[]]},{"id":"b1e9fce2476290c2","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"48a139d82719f825","page":"","ui":"","name":"circular9","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-access-point\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                Unit\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1440,"y":760,"wires":[[]]},{"id":"e483ce13c82ef23e","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"1a6f52eb961a38c7","order":0,"width":0,"height":0,"name":"","label":"Magnetometer Uptimer","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":1760,"y":720,"wires":[]},{"id":"656ce19654934870","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"1a6f52eb961a38c7","page":"","ui":"","name":"Fondo10","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1800,"y":680,"wires":[[]]},{"id":"5231af0a074af565","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"1a6f52eb961a38c7","page":"","ui":"","name":"circular10","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                <br>\n                Sec\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1800,"y":760,"wires":[[]]},{"id":"4047dd9e22b597bb","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"2d49e097d2016635","order":0,"width":0,"height":0,"name":"","label":"Current Value","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":2120,"y":720,"wires":[]},{"id":"f6f9c0b47348d38d","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"2d49e097d2016635","page":"","ui":"","name":"Fondo11","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2140,"y":680,"wires":[[]]},{"id":"75d2eee9e09c6068","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"2d49e097d2016635","page":"","ui":"","name":"circular11","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-flash\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale.toFixed(2)}}\n                <br>\n                <br>\n                A\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.circular1{\n    font-size: xx-large;\n    font-weight: bold !important;\n    top: -75px !important;\n    left: 29px !important;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2140,"y":760,"wires":[[]]},{"id":"3ba512494ba1437a","type":"ui-chart","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"9ec97dfe9bb2842f","name":"","label":"","order":3,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"30","colors":["#fff700","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"7","height":"3","className":"char","x":2120,"y":900,"wires":[[]]},{"id":"6f183b0837e0b3c3","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"f4bb10d4d2287e07","order":0,"width":0,"height":0,"name":"","label":"Battery Level","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"23","color":"#ffffff","className":"text","x":2470,"y":720,"wires":[]},{"id":"a542b1a1c5464374","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"f4bb10d4d2287e07","page":"","ui":"","name":"Fondo12","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl2\"></div>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2480,"y":680,"wires":[[]]},{"id":"dbef9eb757bae41f","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"f4bb10d4d2287e07","page":"","ui":"","name":"circular12","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-battery-charging-60\"></v-icon>\n                <br>\n                <br>\n            </div>\n            <div>\n                {{ msg.payload.toFixed(2)}}\n                <br>\n                <br>\n                %\n                <br>\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2480,"y":760,"wires":[[]]},{"id":"aa90fd0e8e27d544","type":"ui-chart","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"d675d6c752421547","name":"","label":"","order":9007199254740991,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"30","colors":["#fbff00","#eeff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"7","height":"3","className":"char","x":2460,"y":900,"wires":[[]]},{"id":"1052e364c93e55a9","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.accelerometer_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":760,"wires":[["51e48656783dc75b"]],"l":false},{"id":"4d1d08f696cfba09","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 1","links":["b3e0f183813cc5a0"],"x":525,"y":760,"wires":[["1052e364c93e55a9"]]},{"id":"51e48656783dc75b","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":625,"y":760,"wires":[["9e2bb0c419ed3d83"]],"l":false},{"id":"dcbc9e890a4bf855","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"9ec97dfe9bb2842f","page":"","ui":"","name":"Fondo current char","order":2,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl3\"></div>\n</template>\n<style>\n.vl3{\n    border-left: 1000px solid #05058d;\n    height: 44px !important;\n    position: absolute;\n    left: 0%;\n    margin-left: -3px;\n    top: 0;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2110,"y":820,"wires":[[]]},{"id":"7e9e962880795b8b","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"9ec97dfe9bb2842f","order":1,"width":0,"height":0,"name":"","label":"Current History","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"19","color":"#ffffff","className":"text","x":2120,"y":860,"wires":[]},{"id":"8334ce6c81921f25","type":"ui-template","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"d675d6c752421547","page":"","ui":"","name":"Fondo current char","order":2,"width":0,"height":0,"head":"","format":"<template>\n    <div class=\"vl3\"></div>\n</template>\n<style>\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2450,"y":820,"wires":[[]]},{"id":"bc9aed688458888e","type":"ui-text","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","group":"d675d6c752421547","order":1,"width":0,"height":0,"name":"","label":"Battery Level History","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"19","color":"#ffffff","className":"text","x":2440,"y":860,"wires":[]},{"id":"85dcf374401369f3","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.accelerometer_timer","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":945,"y":760,"wires":[["e422c7f6051da1d7"]],"l":false},{"id":"a2170d3c926b4adc","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 6","links":["b3e0f183813cc5a0"],"x":895,"y":760,"wires":[["85dcf374401369f3"]]},{"id":"e422c7f6051da1d7","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":995,"y":760,"wires":[["41025bd5b68c6f34"]],"l":false},{"id":"8beb9e2a73785112","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_1_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":515,"y":500,"wires":[["a32c71781e4d806c"]],"l":false},{"id":"b81e63294d96dd66","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 7","links":["b3e0f183813cc5a0"],"x":465,"y":500,"wires":[["8beb9e2a73785112"]]},{"id":"a32c71781e4d806c","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":565,"y":500,"wires":[["30663527784fde46"]],"l":false},{"id":"589f12d024166235","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_1_timer","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":945,"y":500,"wires":[["90df6d35fd57b66f"]],"l":false},{"id":"1912b4d4a3fc3419","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 8","links":["b3e0f183813cc5a0"],"x":895,"y":500,"wires":[["589f12d024166235"]]},{"id":"90df6d35fd57b66f","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":995,"y":500,"wires":[["f398755917d9ae37"]],"l":false},{"id":"fb8123c848f01f28","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.magnetometer_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1275,"y":760,"wires":[["40e0f8968b45e55c"]],"l":false},{"id":"f1d01d11eaa3bab9","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 9","links":["b3e0f183813cc5a0"],"x":1225,"y":760,"wires":[["fb8123c848f01f28"]]},{"id":"40e0f8968b45e55c","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":1325,"y":760,"wires":[["b1e9fce2476290c2"]],"l":false},{"id":"2dee35fc4c721c31","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.magnetometer_timer","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1615,"y":760,"wires":[["ad509b9237d3c189"]],"l":false},{"id":"ae593fdc028e28be","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 10","links":["b3e0f183813cc5a0"],"x":1565,"y":760,"wires":[["2dee35fc4c721c31"]]},{"id":"ad509b9237d3c189","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"65535","x":1665,"y":760,"wires":[["5231af0a074af565"]],"l":false},{"id":"c250530d7d7c1a68","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ac_current","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1975,"y":760,"wires":[["2127a836d932eb5e","3ba512494ba1437a"]],"l":false},{"id":"b56a6dddfd42a776","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 11","links":["b3e0f183813cc5a0"],"x":1925,"y":760,"wires":[["c250530d7d7c1a68"]]},{"id":"2127a836d932eb5e","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"65535","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":2025,"y":760,"wires":[["75d2eee9e09c6068"]],"l":false},{"id":"9751698c5ec90d31","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2325,"y":760,"wires":[["dbef9eb757bae41f","aa90fd0e8e27d544"]],"l":false},{"id":"9d64e2f76d4c558c","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 12","links":["b3e0f183813cc5a0"],"x":2275,"y":760,"wires":[["9751698c5ec90d31"]]},{"id":"212652aaa4a2cd3c","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_2_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1285,"y":500,"wires":[["41bd8aab84b44fd1"]],"l":false},{"id":"82c4da78ebdb3c0e","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 13","links":["b3e0f183813cc5a0"],"x":1235,"y":500,"wires":[["212652aaa4a2cd3c"]]},{"id":"41bd8aab84b44fd1","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":1335,"y":500,"wires":[["bd69221e0b2a0ae7"]],"l":false},{"id":"2d3214842061a024","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_2_timer","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1645,"y":500,"wires":[["15c70d5a98e2f23e"]],"l":false},{"id":"6cce4e56a9968e59","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 14","links":["b3e0f183813cc5a0"],"x":1595,"y":500,"wires":[["2d3214842061a024"]]},{"id":"15c70d5a98e2f23e","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":1695,"y":500,"wires":[["3f2f4286510a79e0"]],"l":false},{"id":"60268202b0bc4d75","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_3_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1985,"y":500,"wires":[["940d5e8f38110f09"]],"l":false},{"id":"6f145a74e8e94b14","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 15","links":["b3e0f183813cc5a0"],"x":1935,"y":500,"wires":[["60268202b0bc4d75"]]},{"id":"940d5e8f38110f09","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":2035,"y":500,"wires":[["7b96282836be4eec"]],"l":false},{"id":"994f1093160298de","type":"change","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.input_3_timer","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2325,"y":500,"wires":[["9d31d49c1bc9508b"]],"l":false},{"id":"d50526228fee2e11","type":"link in","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","name":"link in 16","links":["b3e0f183813cc5a0"],"x":2275,"y":500,"wires":[["994f1093160298de"]]},{"id":"9d31d49c1bc9508b","type":"range","z":"4eb4fef318281ab2","g":"efeeec2fa71bb758","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":2375,"y":500,"wires":[["f5a274a362f73e38"]],"l":false},{"id":"e2ffc8ca6b9b1079","type":"ui-template","z":"4eb4fef318281ab2","g":"a6af4a15d45087f2","group":"","page":"c1cfa44d82fb969b","ui":"","name":"Style","order":0,"width":0,"height":0,"head":"","format":"/*ancho de los grupos*/\n.grupoo{\n    width: 295px !important;\n}\n/*Largo de grupos*/\n.nrdb-ui-group>.v-card {\n    height: 322px;\n}\n/* Posicion de la base de los grupos\n.nrdb-ui-page{\n    left: -41px !important;\n    position: relative !important;\n} */\n.v-main {\n    background-image: url(\" https://www.transparenttextures.com/patterns/diagmonds-light.png\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    border-radius: 15px !important;\n}\n.bg-group-background{\n    background-color: rgba(2, 2, 2, 0.866) !important;\n    border-color: #000000fe !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: rgb(5, 5, 5, 141) !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: rgba(4, 4, 4, 0.653) !important;\n}\n.text\n{\n    top: -13px;\n    left: -11px;\n    position: relative;\n    z-index: 2;\n    width: 280px !important;\n    font-weight: bold !important;\n    \n}\n.char{\n    position: relative;\n    left: -12px;\n    top: -105px;\n    height: 304px !important;\n    width: 886px !important;\n}\n.groupGraph{\n    width: 897px !important;\n}\n.nrdb-ui-text{\n    color: white !important;\n}\n/*Color de letra nombre grupos*/\n.v-card-title {\n    color: white;\n}\n/* Posicion titulo grupos */\n.v-card-item {\n    left: 234px;\n    position: relative;\n    top: -12px;\n}\n.dataGroup .v-card{\nheight: 978px !important;\n}","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":2430,"y":200,"wires":[[]]},{"id":"576e16f1acf29916","type":"ui-template","z":"4eb4fef318281ab2","g":"a6af4a15d45087f2","group":"","page":"c1cfa44d82fb969b","ui":"","name":"Logo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"logo2\">\n        <v-chip label size=\"x-large\" :width=\"144\" color=\"black\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.logo2 {\n    transform: rotate(0deg);\n    width: 130px;\n    position: fixed;\n    top: 13px;\n    left: 12px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":2310,"y":200,"wires":[[]]},{"id":"9ca768aea4a292cf","type":"ui-template","z":"4eb4fef318281ab2","g":"a6af4a15d45087f2","group":"","page":"c1cfa44d82fb969b","ui":"","name":"product info","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <a href=\"https://ncd.io/blog/machine-up-time-monitoring-product-manual/\" target=\"_blank\">\n        <v-btn class=\"info\" color=\"white\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.info{\n    top: -49px !important;\n    left: -160px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":2170,"y":200,"wires":[[]]},{"id":"b3e0f183813cc5a0","type":"link out","z":"4eb4fef318281ab2","name":"link out 1","mode":"link","links":["d50526228fee2e11","f1d01d11eaa3bab9","b56a6dddfd42a776","ae593fdc028e28be","b81e63294d96dd66","9d64e2f76d4c558c","6cce4e56a9968e59","d82e2a4494a53b1f","4d1d08f696cfba09","82c4da78ebdb3c0e","1912b4d4a3fc3419","6f145a74e8e94b14","a2170d3c926b4adc","9333bf35f7ec5806","800e9eacc37c0115","5cb81e1f58646396"],"x":205,"y":820,"wires":[]},{"id":"3b135137976aea3d","type":"function","z":"4eb4fef318281ab2","name":"function 6","func":"msg = {\n    \"status\": {\n        \"fill\": \"green\",\n        \"shape\": \"dot\",\n        \"text\": \"ready\"\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":280,"wires":[[]]},{"id":"d82e2a4494a53b1f","type":"link in","z":"4eb4fef318281ab2","name":"link in 18","links":["b3e0f183813cc5a0"],"x":435,"y":280,"wires":[["3b135137976aea3d"]]},{"id":"24d793444bba5428","type":"function","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"getTemUnit","func":"let toggle = context.get(\"toggle\") || 0;\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    unit = {\n        groups: \n        { \n            show: [\"ncd-uptime:Inspect1\",\n                   \"ncd-uptime:Inspect2\",\n                   \"ncd-uptime:Inspect3\"],\n            hide: [\"ncd-uptime:group1\", \n                   \"ncd-uptime:group2\",\n                   \"ncd-uptime:group3\",\n                   \"ncd-uptime:group4\",\n                   \"ncd-uptime:group5\",\n                   \"ncd-uptime:group6\",\n                   \"ncd-uptime:group7\",\n                   \"ncd-uptime:group8\",\n                   \"ncd-uptime:group9\",\n                   \"ncd-uptime:group10\",\n                   \"ncd-uptime:group11\",\n                   \"ncd-uptime:group12\",\n                   \"ncd-uptime:Current History\",\n                   \"ncd-uptime:Battery Level History\"]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    unit = {\n        groups: \n        { \n            hide: [\"ncd-uptime:Inspect1\",\n                \"ncd-uptime:Inspect2\",\n                \"ncd-uptime:Inspect3\"],\n            show: [\"ncd-uptime:group1\",\n                \"ncd-uptime:group2\",\n                \"ncd-uptime:group3\",\n                \"ncd-uptime:group4\",\n                \"ncd-uptime:group5\",\n                \"ncd-uptime:group6\",\n                \"ncd-uptime:group7\",\n                \"ncd-uptime:group8\",\n                \"ncd-uptime:group9\",\n                \"ncd-uptime:group10\",\n                \"ncd-uptime:group11\",\n                \"ncd-uptime:group12\",\n                \"ncd-uptime:Current History\",\n                \"ncd-uptime:Battery Level History\"]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1020,"wires":[["c928a3e9743d6262"]]},{"id":"22a20328eeecf9a5","type":"ui-template","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"","page":"c1cfa44d82fb969b","ui":"","name":"product info","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"inspectMUTC\" @click=\"send({payload:true})\" color=\"white\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.inspectMUTC{\n    top: -96px !important;\n    left: -303px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":530,"y":1020,"wires":[["24d793444bba5428"]]},{"id":"c928a3e9743d6262","type":"ui-control","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","ui":"ec459411017ddf37","events":"all","x":930,"y":1020,"wires":[[]]},{"id":"1ce8ada0dc580759","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":660,"y":1160,"wires":[]},{"id":"7e7964cfb4a6d72d","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":690,"y":1200,"wires":[]},{"id":"1e3a60889e2cdd2a","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":660,"y":1240,"wires":[]},{"id":"fe36dff203c3765e","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":670,"y":1280,"wires":[]},{"id":"aa1a72f092b7b455","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":660,"y":1320,"wires":[]},{"id":"1f9d799dee739be4","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":670,"y":1360,"wires":[]},{"id":"179484281d3307e6","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":680,"y":1400,"wires":[]},{"id":"b4b01f935572f3ad","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":650,"y":1440,"wires":[]},{"id":"d92a792e41674618","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":660,"y":1480,"wires":[]},{"id":"c2c2c08bce35385b","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1160,"wires":[["1ce8ada0dc580759"]],"l":false},{"id":"9333bf35f7ec5806","type":"link in","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"link in 4","links":["b3e0f183813cc5a0"],"x":475,"y":1340,"wires":[["c2c2c08bce35385b","4d5aeb6181e591dd","b8c323a72e2da89e","32287ef5a5774641","1ae9603b11c6cccf","0848016874ddb72f","2e1430d44688f596","bd6c3f8695aa3ecf","11022c9982b90027","cda6e195335042f3"]]},{"id":"4d5aeb6181e591dd","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1200,"wires":[["7e7964cfb4a6d72d"]],"l":false},{"id":"b8c323a72e2da89e","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1240,"wires":[["1e3a60889e2cdd2a"]],"l":false},{"id":"32287ef5a5774641","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1280,"wires":[["fe36dff203c3765e"]],"l":false},{"id":"1ae9603b11c6cccf","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1320,"wires":[["aa1a72f092b7b455"]],"l":false},{"id":"0848016874ddb72f","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1360,"wires":[["1f9d799dee739be4"]],"l":false},{"id":"2e1430d44688f596","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1400,"wires":[["179484281d3307e6"]],"l":false},{"id":"bd6c3f8695aa3ecf","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1440,"wires":[["b4b01f935572f3ad"]],"l":false},{"id":"11022c9982b90027","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1480,"wires":[["d92a792e41674618"]],"l":false},{"id":"b2008478fe51bae1","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":660,"y":1520,"wires":[]},{"id":"cda6e195335042f3","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":1520,"wires":[["b2008478fe51bae1"]],"l":false},{"id":"7c776758f7995c36","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":2,"width":"0","height":"0","name":"Current Value","label":"Current Value in A:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1040,"y":1160,"wires":[]},{"id":"0a4d51466e7f8da5","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.ac_current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1160,"wires":[["7c776758f7995c36"]],"l":false},{"id":"0a34698a4f71c7cd","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":3,"width":"0","height":"0","name":"Digital Input 1 Counter","label":"Digital Input 1 Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1200,"wires":[]},{"id":"bb5b749cc5de4056","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_1_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1200,"wires":[["0a34698a4f71c7cd"]],"l":false},{"id":"a40aa2e66d5355ca","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":4,"width":"0","height":"0","name":"Digital Input 1 Uptimer","label":"Digital Input 1 Uptimer:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1240,"wires":[]},{"id":"50a4a9ca6803a63e","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_1_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1240,"wires":[["a40aa2e66d5355ca"]],"l":false},{"id":"9fc0d01ee58532d5","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":5,"width":"0","height":"0","name":"Digital Input 2 Counter","label":"Digital Input 2 Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1280,"wires":[]},{"id":"8ac77b07728ab6f8","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_2_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1280,"wires":[["9fc0d01ee58532d5"]],"l":false},{"id":"955e3912d5838947","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":6,"width":"0","height":"0","name":"Digital Input 2 Uptimer","label":"Digital Input 2 Uptimer:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1320,"wires":[]},{"id":"18c4cb1f219039f4","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_2_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1320,"wires":[["955e3912d5838947"]],"l":false},{"id":"84996f54fbb6e0ea","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"100584fc010f5639","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":650,"y":1120,"wires":[]},{"id":"30c2dcbc047d4033","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":1030,"y":1120,"wires":[]},{"id":"800e9eacc37c0115","type":"link in","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"link in 5","links":["b3e0f183813cc5a0"],"x":815,"y":1360,"wires":[["0a4d51466e7f8da5","bb5b749cc5de4056","50a4a9ca6803a63e","8ac77b07728ab6f8","18c4cb1f219039f4","0b3ffe046620177e","ebe1abc20be8a6c4","184dcaf73924654e","e979bf9a104f6db5","2a7bdee971410ab2","2dd347b7dd4192f6"]]},{"id":"5d36d0673d66103b","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":1450,"y":1120,"wires":[]},{"id":"f4c15e513b625e4c","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1430,"y":1160,"wires":[]},{"id":"6a006cbc4c6ff66e","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1160,"wires":[["f4c15e513b625e4c"]],"l":false},{"id":"32fa41292a0976de","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":7,"width":"0","height":"0","name":"Digital Input 3 Counter","label":"Digital Input 3 Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1360,"wires":[]},{"id":"0b3ffe046620177e","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_3_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1360,"wires":[["32fa41292a0976de"]],"l":false},{"id":"2ac725aaa08e5978","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":8,"width":"0","height":"0","name":"Digital Input 3 Uptimer","label":"Digital Input 3 Uptimer:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1400,"wires":[]},{"id":"ebe1abc20be8a6c4","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_3_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1400,"wires":[["2ac725aaa08e5978"]],"l":false},{"id":"4a30dd421a1435e0","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":9,"width":"0","height":"0","name":"Accelerometer Counter","label":"Accelerometer Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1070,"y":1440,"wires":[]},{"id":"184dcaf73924654e","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1440,"wires":[["4a30dd421a1435e0"]],"l":false},{"id":"85301ac0c4869fe0","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":10,"width":"0","height":"0","name":"Accelerometer Uptimer","label":"Accelerometer Uptimer:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1480,"wires":[]},{"id":"e979bf9a104f6db5","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1480,"wires":[["85301ac0c4869fe0"]],"l":false},{"id":"df97fcfbee56703d","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":3,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":1480,"y":1200,"wires":[]},{"id":"fd5542908791e153","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":4,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1430,"y":1240,"wires":[]},{"id":"242fdc442940c42e","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1240,"wires":[["fd5542908791e153"]],"l":false},{"id":"973378027fd72483","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1440,"y":1280,"wires":[]},{"id":"df4541e642e8b88d","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1280,"wires":[["973378027fd72483"]],"l":false},{"id":"6d29816eded2c96c","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1430,"y":1320,"wires":[]},{"id":"67c3efced6b928c1","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1320,"wires":[["6d29816eded2c96c"]],"l":false},{"id":"4272fda8c55dc1c8","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1450,"y":1360,"wires":[]},{"id":"1d98bda5c73c84bf","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1360,"wires":[["4272fda8c55dc1c8"]],"l":false},{"id":"685dbb6111a78d4e","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1430,"y":1400,"wires":[]},{"id":"7cf370b09b918ee4","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1400,"wires":[["685dbb6111a78d4e"]],"l":false},{"id":"8c0b6225e84c5303","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":9,"width":"0","height":"0","name":"time","label":"time:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1430,"y":1440,"wires":[]},{"id":"72de17893ff03e15","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1440,"wires":[["8c0b6225e84c5303"]],"l":false},{"id":"d9479c9c9afeb801","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":11,"width":"0","height":"0","name":"Magnetometer Counter","label":"Magnetometer Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1070,"y":1520,"wires":[]},{"id":"2a7bdee971410ab2","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1520,"wires":[["d9479c9c9afeb801"]],"l":false},{"id":"91327e56f8a211ba","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"761e4d704d6eddb9","order":12,"width":"0","height":"0","name":"Magnetometer Uptimer","label":"Magnetometer Uptimer:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":1060,"y":1560,"wires":[]},{"id":"2dd347b7dd4192f6","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":1560,"wires":[["91327e56f8a211ba"]],"l":false},{"id":"b8735e2552a1c35a","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":11,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":1480,"y":1540,"wires":[]},{"id":"a41f40e87b7c1f8a","type":"change","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1345,"y":1540,"wires":[["b8735e2552a1c35a"]],"l":false},{"id":"9b885a4e251e7ed9","type":"ui-text","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","group":"9c58e4a4effcbe07","order":10,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#000000","className":"","x":1430,"y":1500,"wires":[]},{"id":"5cb81e1f58646396","type":"link in","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"link in 17","links":["b3e0f183813cc5a0"],"x":1235,"y":1360,"wires":[["6a006cbc4c6ff66e","242fdc442940c42e","df4541e642e8b88d","67c3efced6b928c1","1d98bda5c73c84bf","7cf370b09b918ee4","72de17893ff03e15","a41f40e87b7c1f8a"]]},{"id":"2d70425723a24588","type":"function","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","name":"getTemUnit","func":"let unit = {\n    groups: \n    { \n            hide: [\"ncd-uptime:Inspect1\",\n                \"ncd-uptime:Inspect2\",\n                \"ncd-uptime:Inspect3\"],\n            show:[\"ncd-uptime:group1\",\n                \"ncd-uptime:group2\",\n                \"ncd-uptime:group3\",\n                \"ncd-uptime:group4\",\n                \"ncd-uptime:group5\",\n                \"ncd-uptime:group6\",\n                \"ncd-uptime:group7\",\n                \"ncd-uptime:group8\",\n                \"ncd-uptime:group9\",\n                \"ncd-uptime:group10\",\n                \"ncd-uptime:group11\",\n                \"ncd-uptime:group12\",\n                \"ncd-uptime:Current History\",\n                \"ncd-uptime:Battery Level History\"]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1060,"wires":[["c928a3e9743d6262"]]},{"id":"ee1fdc474549366d","type":"ui-event","z":"4eb4fef318281ab2","g":"c63c3e1f1931e94e","ui":"ec459411017ddf37","name":"","x":510,"y":1060,"wires":[["2d70425723a24588"]]},{"id":"100584fc010f5639","type":"ui-group","z":"4eb4fef318281ab2","name":"Inspect1","page":"c1cfa44d82fb969b","width":"5","height":"1","order":15,"showTitle":false,"className":"dataGroup","visible":"true","disabled":"false"},{"id":"761e4d704d6eddb9","type":"ui-group","z":"4eb4fef318281ab2","name":"Inspect2","page":"c1cfa44d82fb969b","width":"5","height":"1","order":16,"showTitle":false,"className":"dataGroup","visible":"true","disabled":"false"},{"id":"9c58e4a4effcbe07","type":"ui-group","z":"4eb4fef318281ab2","name":"Inspect3","page":"c1cfa44d82fb969b","width":"5","height":"1","order":17,"showTitle":false,"className":"dataGroup","visible":"true","disabled":"false"},{"id":"a6af4a15d45087f2","type":"group","z":"4eb4fef318281ab2","name":"STYLE","style":{"stroke":"#999999","fill":"none","fill-opacity":"1","label":true,"color":"#a4a4a4"},"nodes":["e2ffc8ca6b9b1079","576e16f1acf29916","9ca768aea4a292cf"],"x":2074,"y":159,"w":432,"h":82},{"id":"efeeec2fa71bb758","type":"group","z":"4eb4fef318281ab2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["06093b8dde9af591","2aad362166d035d3","30663527784fde46","9b830ed6892bdb82","f515f55b32a6cb02","f398755917d9ae37","48637d201cabf9cc","202cc7560c451e40","bd69221e0b2a0ae7","d6eeb773410446bb","2b3d073991393705","3f2f4286510a79e0","ea51c2b89024b85e","67f740f1fb0ef9d6","7b96282836be4eec","cc0ad3acfa25be11","9f9404c6184b7a88","f5a274a362f73e38","984aab9cb3ec8c47","833ed7ab58cc2da5","9e2bb0c419ed3d83","b3d5ac6d23588b7b","8e8a8b2a84a9e93b","41025bd5b68c6f34","53b71d257b75d6ca","713cf8bd64a7c005","b1e9fce2476290c2","e483ce13c82ef23e","656ce19654934870","5231af0a074af565","4047dd9e22b597bb","f6f9c0b47348d38d","75d2eee9e09c6068","3ba512494ba1437a","6f183b0837e0b3c3","a542b1a1c5464374","dbef9eb757bae41f","aa90fd0e8e27d544","1052e364c93e55a9","4d1d08f696cfba09","51e48656783dc75b","dcbc9e890a4bf855","7e9e962880795b8b","8334ce6c81921f25","bc9aed688458888e","85dcf374401369f3","a2170d3c926b4adc","e422c7f6051da1d7","8beb9e2a73785112","b81e63294d96dd66","a32c71781e4d806c","589f12d024166235","1912b4d4a3fc3419","90df6d35fd57b66f","fb8123c848f01f28","f1d01d11eaa3bab9","40e0f8968b45e55c","2dee35fc4c721c31","ae593fdc028e28be","ad509b9237d3c189","c250530d7d7c1a68","b56a6dddfd42a776","2127a836d932eb5e","9751698c5ec90d31","9d64e2f76d4c558c","212652aaa4a2cd3c","82c4da78ebdb3c0e","41bd8aab84b44fd1","2d3214842061a024","6cce4e56a9968e59","15c70d5a98e2f23e","60268202b0bc4d75","6f145a74e8e94b14","940d5e8f38110f09","994f1093160298de","d50526228fee2e11","9d31d49c1bc9508b"],"x":424,"y":379,"w":2142,"h":562},{"id":"c63c3e1f1931e94e","type":"group","z":"4eb4fef318281ab2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["24d793444bba5428","22a20328eeecf9a5","c928a3e9743d6262","1ce8ada0dc580759","7e7964cfb4a6d72d","1e3a60889e2cdd2a","fe36dff203c3765e","aa1a72f092b7b455","1f9d799dee739be4","179484281d3307e6","b4b01f935572f3ad","d92a792e41674618","c2c2c08bce35385b","9333bf35f7ec5806","4d5aeb6181e591dd","b8c323a72e2da89e","32287ef5a5774641","1ae9603b11c6cccf","0848016874ddb72f","2e1430d44688f596","bd6c3f8695aa3ecf","11022c9982b90027","b2008478fe51bae1","cda6e195335042f3","7c776758f7995c36","0a4d51466e7f8da5","0a34698a4f71c7cd","bb5b749cc5de4056","a40aa2e66d5355ca","50a4a9ca6803a63e","9fc0d01ee58532d5","8ac77b07728ab6f8","955e3912d5838947","18c4cb1f219039f4","84996f54fbb6e0ea","30c2dcbc047d4033","800e9eacc37c0115","5d36d0673d66103b","f4c15e513b625e4c","6a006cbc4c6ff66e","32fa41292a0976de","0b3ffe046620177e","2ac725aaa08e5978","ebe1abc20be8a6c4","4a30dd421a1435e0","184dcaf73924654e","85301ac0c4869fe0","e979bf9a104f6db5","df97fcfbee56703d","fd5542908791e153","242fdc442940c42e","973378027fd72483","df4541e642e8b88d","6d29816eded2c96c","67c3efced6b928c1","4272fda8c55dc1c8","1d98bda5c73c84bf","685dbb6111a78d4e","7cf370b09b918ee4","8c0b6225e84c5303","72de17893ff03e15","d9479c9c9afeb801","2a7bdee971410ab2","91327e56f8a211ba","2dd347b7dd4192f6","b8735e2552a1c35a","a41f40e87b7c1f8a","9b885a4e251e7ed9","5cb81e1f58646396","2d70425723a24588","ee1fdc474549366d"],"x":434,"y":979,"w":1172,"h":622},{"id":"c3d9c4f588d21afc","type":"ui-group","name":"group1","page":"c1cfa44d82fb969b","width":"3","height":"1","order":1,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"c9d7f63b830bc5d4","type":"ui-group","name":"group2","page":"c1cfa44d82fb969b","width":"3","height":"1","order":2,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"40e041c28c1037ac","type":"ui-group","name":"group3","page":"c1cfa44d82fb969b","width":"3","height":"1","order":3,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"b892527d16c30ee8","type":"ui-group","name":"group4","page":"c1cfa44d82fb969b","width":"3","height":"1","order":4,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"223a3af354b24ea7","type":"ui-group","name":"group5","page":"c1cfa44d82fb969b","width":"3","height":"1","order":5,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"91a5a1411ad72a39","type":"ui-group","name":"group6","page":"c1cfa44d82fb969b","width":"3","height":"1","order":6,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"547e0ba97903ed8a","type":"ui-group","name":"group7","page":"c1cfa44d82fb969b","width":"3","height":"1","order":7,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"2e432beae847db42","type":"ui-group","name":"group8","page":"c1cfa44d82fb969b","width":"3","height":"1","order":8,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"48a139d82719f825","type":"ui-group","name":"group9","page":"c1cfa44d82fb969b","width":"3","height":"1","order":9,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"1a6f52eb961a38c7","type":"ui-group","name":"group10","page":"c1cfa44d82fb969b","width":"3","height":"1","order":10,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"2d49e097d2016635","type":"ui-group","name":"group11","page":"c1cfa44d82fb969b","width":"3","height":"1","order":11,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"9ec97dfe9bb2842f","type":"ui-group","name":"Current History","page":"c1cfa44d82fb969b","width":"7","height":"1","order":13,"showTitle":false,"className":"groupGraph","visible":"true","disabled":"false"},{"id":"f4bb10d4d2287e07","type":"ui-group","name":"group12","page":"c1cfa44d82fb969b","width":"3","height":"1","order":12,"showTitle":false,"className":"grupoo","visible":"true","disabled":"false"},{"id":"d675d6c752421547","type":"ui-group","name":"Battery Level History","page":"c1cfa44d82fb969b","width":"7","height":"1","order":14,"showTitle":false,"className":"groupGraph","visible":"true","disabled":"false"},{"id":"c1cfa44d82fb969b","type":"ui-page","name":"ncd-uptime","ui":"ec459411017ddf37","path":"/uptime","icon":"update","layout":"flex","theme":"b5f491106ed516b4","order":1,"className":"","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"b5f491106ed516b4","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#4a4a4a","groupBg":"#84daf0","groupOutline":"#000000"},"sizes":{"pagePadding":"12px","groupGap":"6px","groupBorderRadius":"8px","widgetGap":"10px"}},{"id":"453c22a5ae8059d5","type":"subflow:4eb4fef318281ab2","z":"f7e6e9f6ecdc91b3","name":"","x":720,"y":520,"wires":[]}]
