node-red/Machine-Up-Time-Monitor-Dashboard.json
[{"id":"72a6bd0ef31ac79d","type":"subflow","name":"Machine Up Time","info":"","category":"NCD","in":[{"x":260,"y":900,"wires":[{"id":"2096a888a20bed13"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-clock-o","status":{"x":2040,"y":820,"wires":[{"id":"310e5d4cd408b355","port":0},{"id":"6cfe4904198c2453","port":0},{"id":"3296b6cf2832e694","port":0}]}},{"id":"3ce2c28524836c23","type":"ui-text","z":"72a6bd0ef31ac79d","group":"32b670ce2071788b","order":1,"width":0,"height":0,"name":"Din Count Title","label":"Contact Closure Counter","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":3340,"y":680,"wires":[]},{"id":"a4353c75206b6379","type":"ui-template","z":"72a6bd0ef31ac79d","group":"32b670ce2071788b","page":"","ui":"","name":"Din Count Gauge","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-electric-switch\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Unit\n            </div>\n    </v-progress-circular>\n</template>\n<style>\n.circular2{\n    font-size: 44px;\n    font-weight: bold !important;\n    top: -15px !important;\n    left: 5px !important;\n}\n.icon{\n    position: absolute;\n    top: 40px;\n    left: 43%;\n}\n.unit{\n    position: absolute;\n    top: 190px;\n    left: 40%;\n    font-size: 30px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3330,"y":720,"wires":[[]]},{"id":"a27afc19e050deae","type":"ui-text","z":"72a6bd0ef31ac79d","group":"2bea7fde644b2465","order":1,"width":0,"height":0,"name":"Din Uptime Title","label":"Contact Closure Uptime","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":3340,"y":760,"wires":[]},{"id":"72d9416ad2d0ecba","type":"ui-template","z":"72a6bd0ef31ac79d","group":"2bea7fde644b2465","page":"","ui":"","name":"Din Uptime Gauge","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-clock\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Sec\n            </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3330,"y":800,"wires":[[]]},{"id":"f174d4ef45f63e16","type":"ui-text","z":"72a6bd0ef31ac79d","group":"8b17f15dd1d3ad8f","order":1,"width":0,"height":0,"name":"CT Count Title","label":"CT Input Counter","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":3700,"y":680,"wires":[]},{"id":"176096e17225d402","type":"ui-template","z":"72a6bd0ef31ac79d","group":"8b17f15dd1d3ad8f","page":"","ui":"","name":"CT Count Gauge","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi mdi-sine-wave\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Unit\n            </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3690,"y":720,"wires":[[]]},{"id":"3c79b35bddc6c0b3","type":"ui-text","z":"72a6bd0ef31ac79d","group":"5523dce91f05076b","order":1,"width":0,"height":0,"name":"CT Uptime Title","label":"CT Input Uptime","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":3700,"y":760,"wires":[]},{"id":"5c5461b24ad5555a","type":"ui-template","z":"72a6bd0ef31ac79d","group":"5523dce91f05076b","page":"","ui":"","name":"CT Uptime Gauge","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-clock\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Sec\n            </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3690,"y":800,"wires":[[]]},{"id":"eeb6c8b6854264eb","type":"ui-text","z":"72a6bd0ef31ac79d","group":"27ea0ec3f151e6c0","order":1,"width":0,"height":0,"name":"Opto Counter Title","label":"Digital Input Counter","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":4070,"y":680,"wires":[]},{"id":"82750d15a4b071a2","type":"ui-template","z":"72a6bd0ef31ac79d","group":"27ea0ec3f151e6c0","page":"","ui":"","name":"Opto Counter Gauge","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi mdi-square-wave\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Unit\n            </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4060,"y":720,"wires":[[]]},{"id":"cc0f84b1f0695cc6","type":"ui-text","z":"72a6bd0ef31ac79d","group":"fe093469dea6bb18","order":1,"width":0,"height":0,"name":"Opto Uptime Title","label":"Digital Input Uptime","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":4070,"y":760,"wires":[]},{"id":"9f776c8857c935f3","type":"ui-template","z":"72a6bd0ef31ac79d","group":"fe093469dea6bb18","page":"","ui":"","name":"Opto Uptime Title","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-clock\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Sec\n            </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4070,"y":800,"wires":[[]]},{"id":"e5d16241a268cb1e","type":"ui-text","z":"72a6bd0ef31ac79d","group":"41a82805c3af896c","order":1,"width":0,"height":0,"name":"Acc Count Text","label":"Accelerometer Counter","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":3700,"y":860,"wires":[]},{"id":"554264c546440c00","type":"ui-template","z":"72a6bd0ef31ac79d","group":"41a82805c3af896c","page":"","ui":"","name":"Acc Count Gauge","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi mdi-waveform\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Unit\n            </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3690,"y":900,"wires":[[]]},{"id":"a086a81e326c9d49","type":"ui-text","z":"72a6bd0ef31ac79d","group":"0ff33a220e8025ea","order":1,"width":0,"height":0,"name":"Acc Uptime Text","label":"Accelerometer Uptime","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":3700,"y":940,"wires":[]},{"id":"9290dfd9d71989d7","type":"ui-template","z":"72a6bd0ef31ac79d","group":"0ff33a220e8025ea","page":"","ui":"","name":"Acc Uptime Gauge","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-clock\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Sec\n            </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3690,"y":980,"wires":[[]]},{"id":"ceb64e47ae823aed","type":"ui-text","z":"72a6bd0ef31ac79d","group":"84f9abfe81f3e191","order":1,"width":0,"height":0,"name":"Mag Count Title","label":"Magnetometer Counter","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":3340,"y":860,"wires":[]},{"id":"9a5136be99323724","type":"ui-template","z":"72a6bd0ef31ac79d","group":"84f9abfe81f3e191","page":"","ui":"","name":"Mag Count Gauge","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-access-point\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Unit\n            </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3330,"y":900,"wires":[[]]},{"id":"79c531546bc4cc0b","type":"ui-text","z":"72a6bd0ef31ac79d","group":"1bd42e6c7d5dba1d","order":1,"width":0,"height":0,"name":"Mag Uptime Title","label":"Magnetometer Uptime","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":3330,"y":940,"wires":[]},{"id":"862a0a729d16c282","type":"ui-template","z":"72a6bd0ef31ac79d","group":"1bd42e6c7d5dba1d","page":"","ui":"","name":"Mag Uptime Gauge","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-clock\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Sec\n            </div>\n    </v-progress-circular>\n</template>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3330,"y":980,"wires":[[]]},{"id":"23b847a2791ee453","type":"ui-text","z":"72a6bd0ef31ac79d","group":"8efbb7965d5e098c","order":1,"width":0,"height":0,"name":"Battery Level Text","label":"Battery Level","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":"23","color":"#ffffff","className":"muTitles","x":4450,"y":680,"wires":[]},{"id":"2bc02175ba2ee0e7","type":"ui-template","z":"72a6bd0ef31ac79d","group":"8efbb7965d5e098c","page":"","ui":"","name":"Battery Level Gauge","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"circular2\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"#ffce21\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-battery-charging-60\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.payload.toFixed(2)}}%\n            </div>\n    </v-progress-circular>\n</template>\n\n\n\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4440,"y":720,"wires":[[]]},{"id":"6a7670ec0ee9c5e9","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3515,"y":900,"wires":[["2c33b451d01b83ad"]],"l":false},{"id":"ac93237786e36a8d","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 185","links":["08627c441ff3bf3d","3ce48dbe48ebe883","f007b3d942338fb1"],"x":3465,"y":900,"wires":[["6a7670ec0ee9c5e9"]]},{"id":"2c33b451d01b83ad","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3565,"y":900,"wires":[["554264c546440c00"]],"l":false},{"id":"60404cd14d03e7e7","type":"ui-text","z":"72a6bd0ef31ac79d","group":"1f45ebd971768bdb","order":1,"width":0,"height":0,"name":"Battery History Text","label":"Battery Level History","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"19","color":"#ffffff","className":"muTitleBattChart","x":4450,"y":760,"wires":[]},{"id":"13cd8c1ee65cef3a","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_uptime","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3515,"y":980,"wires":[["ee5bdb9675786c99"]],"l":false},{"id":"ed889722534effc1","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 186","links":["08627c441ff3bf3d","3ce48dbe48ebe883","f007b3d942338fb1"],"x":3465,"y":980,"wires":[["13cd8c1ee65cef3a"]]},{"id":"ee5bdb9675786c99","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3565,"y":980,"wires":[["9290dfd9d71989d7"]],"l":false},{"id":"cdf3d9b457e88d83","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.digital_input_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3155,"y":720,"wires":[["6cc1d53cc0c27d25"]],"l":false},{"id":"152baf73d04cb7e8","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 187","links":["08627c441ff3bf3d","3ce48dbe48ebe883","f007b3d942338fb1"],"x":3105,"y":720,"wires":[["cdf3d9b457e88d83"]]},{"id":"6cc1d53cc0c27d25","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3205,"y":720,"wires":[["a4353c75206b6379"]],"l":false},{"id":"c7675f35e6258480","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.digital_input_uptime","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3155,"y":800,"wires":[["5ea2401fec20c170"]],"l":false},{"id":"83366118585eacf6","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 188","links":["08627c441ff3bf3d","3ce48dbe48ebe883","f007b3d942338fb1"],"x":3105,"y":800,"wires":[["c7675f35e6258480"]]},{"id":"5ea2401fec20c170","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3205,"y":800,"wires":[["72d9416ad2d0ecba"]],"l":false},{"id":"373d313cdc4d09ab","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3155,"y":900,"wires":[["79c08df9d5c002be"]],"l":false},{"id":"87ffb80a0a4faee2","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 189","links":["08627c441ff3bf3d","3ce48dbe48ebe883","f007b3d942338fb1"],"x":3105,"y":900,"wires":[["373d313cdc4d09ab"]]},{"id":"79c08df9d5c002be","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3205,"y":900,"wires":[["9a5136be99323724"]],"l":false},{"id":"0e21a50c2ce6ba5b","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_uptime","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3155,"y":980,"wires":[["1811172c82abfbdb"]],"l":false},{"id":"dbc892e1821edc8d","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 190","links":["08627c441ff3bf3d","3ce48dbe48ebe883","f007b3d942338fb1"],"x":3105,"y":980,"wires":[["0e21a50c2ce6ba5b"]]},{"id":"1811172c82abfbdb","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"65535","x":3205,"y":980,"wires":[["862a0a729d16c282"]],"l":false},{"id":"2728501b4f865c39","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4295,"y":740,"wires":[["2bc02175ba2ee0e7"]],"l":false},{"id":"ccf2631ce6631cc5","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 191","links":["08627c441ff3bf3d","2bb787501c1129c0"],"x":4215,"y":740,"wires":[["2728501b4f865c39","8d494e7e6f68c9bb"]]},{"id":"5583de4f5fbe3ac1","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.ct_input_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3515,"y":720,"wires":[["6e2ea8b893839b24"]],"l":false},{"id":"568fd1099d9dba01","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 192","links":["08627c441ff3bf3d","3ce48dbe48ebe883","f007b3d942338fb1"],"x":3465,"y":720,"wires":[["5583de4f5fbe3ac1"]]},{"id":"6e2ea8b893839b24","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3565,"y":720,"wires":[["176096e17225d402"]],"l":false},{"id":"baa22a5fe082aac7","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.ct_input_uptime","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3515,"y":800,"wires":[["e828eb9db69cccfa"]],"l":false},{"id":"6d6d93dc563cd636","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 193","links":["08627c441ff3bf3d","3ce48dbe48ebe883","f007b3d942338fb1"],"x":3465,"y":800,"wires":[["baa22a5fe082aac7"]]},{"id":"e828eb9db69cccfa","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3565,"y":800,"wires":[["5c5461b24ad5555a"]],"l":false},{"id":"4ac825882b3e9483","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.opto_input_counter","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3875,"y":720,"wires":[["3dd972d60aff58e6"]],"l":false},{"id":"9cd1e61ec785a407","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 194","links":["08627c441ff3bf3d","3ce48dbe48ebe883","f007b3d942338fb1"],"x":3825,"y":720,"wires":[["4ac825882b3e9483"]]},{"id":"3dd972d60aff58e6","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3925,"y":720,"wires":[["82750d15a4b071a2"]],"l":false},{"id":"e5a9b354f3e0b01c","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.opto_input_uptime","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3875,"y":800,"wires":[["79137138129de0f9"]],"l":false},{"id":"18e9b78c89300c50","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 195","links":["08627c441ff3bf3d","3ce48dbe48ebe883","f007b3d942338fb1"],"x":3825,"y":800,"wires":[["e5a9b354f3e0b01c"]]},{"id":"79137138129de0f9","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"4294967295","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":3925,"y":800,"wires":[["9f776c8857c935f3"]],"l":false},{"id":"2096a888a20bed13","type":"switch","z":"72a6bd0ef31ac79d","name":"filterSensorData","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensor_data","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":900,"wires":[["78bdf91516e02026"]]},{"id":"0309cb6e648310d9","type":"function","z":"72a6bd0ef31ac79d","name":"muInspectFunction","func":"let toggle = context.get(\"toggle\") || 0;\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    flow.set(\"muInspect\", true);\n    unit = {\n        groups: \n        { \n            show: \n            [\n                \"ncd-uptime:muInspect1\",\n                \"ncd-uptime:muInspect2\",\n                \"ncd-uptime:muInspect3\"\n            ],\n            hide: \n            [\n                \"ncd-uptime:muDigitalInCount1\", \n                \"ncd-uptime:muDigitalInCount2\",\n                \"ncd-uptime:muDigitalInCount3\",\n                \"ncd-uptime:muDigitalInUptime1\",\n                \"ncd-uptime:muDigitalInUptime2\",\n                \"ncd-uptime:muDigitalInUptime3\",\n                \"ncd-uptime:muAccInCount\",\n                \"ncd-uptime:muAccInUptime\",\n                \"ncd-uptime:muMagInCount\",\n                \"ncd-uptime:muMagInUptime\",\n                \"ncd-uptime:muBattery\",\n                \"ncd-uptime:muBatteryChart\"\n            ],\n            disable:   \n            [\n                \"ncd-uptime:muSelectMac\",\n                \"ncd-uptime:muDownload\"\n            ]  \n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    flow.set(\"muInspect\", false);\n    unit = {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-uptime:muInspect1\",\n                \"ncd-uptime:muInspect2\",\n                \"ncd-uptime:muInspect3\"\n            ],\n            show: \n            [\n                \"ncd-uptime:muDigitalInCount1\",\n                \"ncd-uptime:muDigitalInCount2\",\n                \"ncd-uptime:muDigitalInCount3\",\n                \"ncd-uptime:muDigitalInUptime1\",\n                \"ncd-uptime:muDigitalInUptime2\",\n                \"ncd-uptime:muDigitalInUptime3\",\n                \"ncd-uptime:muAccInCount\",\n                \"ncd-uptime:muAccInUptime\",\n                \"ncd-uptime:muMagInCount\",\n                \"ncd-uptime:muMagInUptime\",\n                \"ncd-uptime:muBattery\",\n                \"ncd-uptime:muBatteryChart\"\n            ],\n            enable:\n            [\n                \"ncd-uptime:muSelectMac\",\n                \"ncd-uptime:muDownload\"\n            ]  \n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3460,"y":420,"wires":[["7e85562cf21865ff"]]},{"id":"55390622024d2ebc","type":"ui-template","z":"72a6bd0ef31ac79d","group":"","page":"a86bc042451923a9","ui":"","name":"muInspect","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"muinspect\" @click=\"send({payload:true})\" color=\"white\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.muinspect{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top: -96px !important;\n    left: -155px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3260,"y":420,"wires":[["0309cb6e648310d9"]]},{"id":"7e85562cf21865ff","type":"ui-control","z":"72a6bd0ef31ac79d","name":"muUIControl","ui":"ec459411017ddf37","events":"all","x":3650,"y":440,"wires":[[]]},{"id":"434f6f3b9145dd11","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3280,"y":1120,"wires":[]},{"id":"521e42b2f3ebf048","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3310,"y":1160,"wires":[]},{"id":"e217ae4d08bc0f90","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3280,"y":1200,"wires":[]},{"id":"a7a89ff718648647","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3290,"y":1240,"wires":[]},{"id":"ad1849776a2fab74","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3280,"y":1280,"wires":[]},{"id":"fb4d7fc61783f80b","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3290,"y":1320,"wires":[]},{"id":"0c68223b48c89c42","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3300,"y":1360,"wires":[]},{"id":"a01fc7cd532e3c18","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1400,"wires":[]},{"id":"d58a547b17b1a8ac","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3280,"y":1440,"wires":[]},{"id":"1c1b3f12e4242005","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1120,"wires":[["434f6f3b9145dd11"]],"l":false},{"id":"1b43251ead0bb78b","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 196","links":["9fc997204aefaed5","aaf0b29f50c207f6"],"x":3095,"y":1300,"wires":[["1c1b3f12e4242005","be2d74cc664c3003","d3b5b9db9ec1a827","d24bc9285dc8b0f1","38aeeb2c84fa671f","ebc78220e59c0678","01cefce43a8d5ad5","9d393d1c10479f48","97d95a8072ae99b0","02cb1157d9f1d1b8"]]},{"id":"be2d74cc664c3003","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1160,"wires":[["521e42b2f3ebf048"]],"l":false},{"id":"d3b5b9db9ec1a827","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1200,"wires":[["e217ae4d08bc0f90"]],"l":false},{"id":"d24bc9285dc8b0f1","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1240,"wires":[["a7a89ff718648647"]],"l":false},{"id":"38aeeb2c84fa671f","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1280,"wires":[["ad1849776a2fab74"]],"l":false},{"id":"ebc78220e59c0678","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1320,"wires":[["fb4d7fc61783f80b"]],"l":false},{"id":"01cefce43a8d5ad5","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1360,"wires":[["0c68223b48c89c42"]],"l":false},{"id":"9d393d1c10479f48","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1400,"wires":[["a01fc7cd532e3c18"]],"l":false},{"id":"97d95a8072ae99b0","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1440,"wires":[["d58a547b17b1a8ac"]],"l":false},{"id":"a25a30e17fa5a1da","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3280,"y":1480,"wires":[]},{"id":"02cb1157d9f1d1b8","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1480,"wires":[["a25a30e17fa5a1da"]],"l":false},{"id":"149aee25d49f630f","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":2,"width":"0","height":"0","name":"Digital Input Counter","label":"Digital Input Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1160,"wires":[]},{"id":"dac716ba0d721925","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.digital_input_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1160,"wires":[["149aee25d49f630f"]],"l":false},{"id":"2c3eff044643df69","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":3,"width":"0","height":"0","name":"Digital Input Uptime","label":"Digital Input Uptime:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3670,"y":1200,"wires":[]},{"id":"80ce44f871b7648e","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.digital_input_uptime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1200,"wires":[["2c3eff044643df69"]],"l":false},{"id":"a39c4b3713163085","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":4,"width":"0","height":"0","name":"CT Input Counter","label":"CT Input Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3670,"y":1240,"wires":[]},{"id":"7a84578fa3718320","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.ct_input_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1240,"wires":[["a39c4b3713163085"]],"l":false},{"id":"e4425065d148cccf","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":5,"width":"0","height":"0","name":"CT Input Uptime","label":"CT Input Uptime:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3660,"y":1280,"wires":[]},{"id":"198bb3bc70bd1dd4","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.ct_input_uptime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1280,"wires":[["e4425065d148cccf"]],"l":false},{"id":"a2499645c4a23439","type":"ui-text","z":"72a6bd0ef31ac79d","group":"540f459c401d87a3","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3270,"y":1080,"wires":[]},{"id":"582642515107b183","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3650,"y":1080,"wires":[]},{"id":"26c1be4208b3aa74","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 197","links":["9fc997204aefaed5","aaf0b29f50c207f6"],"x":3435,"y":1320,"wires":[["dac716ba0d721925","80ce44f871b7648e","7a84578fa3718320","198bb3bc70bd1dd4","d79fdad851aafd32","40701d3581ee5a53","e717eba64d16ac95","4a5d1203062070ea","b3651370ee360153","476c41e89a775d52"]]},{"id":"d7d31d5bc5ab69ad","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4070,"y":1080,"wires":[]},{"id":"fa8569cf38cf2c1f","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4050,"y":1120,"wires":[]},{"id":"1155b96e3bc95afe","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3965,"y":1120,"wires":[["fa8569cf38cf2c1f"]],"l":false},{"id":"58b30b9f9c74772c","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":6,"width":"0","height":"0","name":"Opto Input Counter","label":"Opto Input Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3670,"y":1320,"wires":[]},{"id":"d79fdad851aafd32","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.opto_input_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1320,"wires":[["58b30b9f9c74772c"]],"l":false},{"id":"8e9486957272d82c","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":7,"width":"0","height":"0","name":"Opto Input Uptime","label":"Opto Input Uptime:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3670,"y":1360,"wires":[]},{"id":"40701d3581ee5a53","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.opto_input_uptime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1360,"wires":[["8e9486957272d82c"]],"l":false},{"id":"98297ee5f0269d7a","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":8,"width":"0","height":"0","name":"Accelerometer Counter","label":"Accelerometer Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1400,"wires":[]},{"id":"e717eba64d16ac95","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1400,"wires":[["98297ee5f0269d7a"]],"l":false},{"id":"759730ecc04c1137","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":9,"width":"0","height":"0","name":"Accelerometer Uptime","label":"Accelerometer Uptime:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1440,"wires":[]},{"id":"4a5d1203062070ea","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_uptime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1440,"wires":[["759730ecc04c1137"]],"l":false},{"id":"c24ce5e71e57a041","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":3,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4100,"y":1160,"wires":[]},{"id":"a4f8c75796925402","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":4,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4050,"y":1200,"wires":[]},{"id":"702fedb39c82405a","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3965,"y":1200,"wires":[["a4f8c75796925402"]],"l":false},{"id":"3d05da5f6b60a70b","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4060,"y":1240,"wires":[]},{"id":"d5f0235c7dd0ca0f","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3965,"y":1240,"wires":[["3d05da5f6b60a70b"]],"l":false},{"id":"ed9c676075992b7d","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4050,"y":1280,"wires":[]},{"id":"195cec587bedd023","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3965,"y":1280,"wires":[["ed9c676075992b7d"]],"l":false},{"id":"8fab9532d17ab8b3","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4070,"y":1320,"wires":[]},{"id":"1afec932b28f7ced","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3965,"y":1320,"wires":[["8fab9532d17ab8b3"]],"l":false},{"id":"4ec0be79681875a4","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4050,"y":1360,"wires":[]},{"id":"582d94a5a17b4823","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3965,"y":1360,"wires":[["4ec0be79681875a4"]],"l":false},{"id":"c84fb9ef5dc0585e","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":9,"width":"0","height":"0","name":"time","label":"time:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4050,"y":1400,"wires":[]},{"id":"a3f02f0b760b1678","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3965,"y":1400,"wires":[["c84fb9ef5dc0585e"]],"l":false},{"id":"d5572cd8a15fca85","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":10,"width":"0","height":"0","name":"Magnetometer Counter","label":"Magnetometer Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1480,"wires":[]},{"id":"b3651370ee360153","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1480,"wires":[["d5572cd8a15fca85"]],"l":false},{"id":"42bc4d83d1b0e8e7","type":"ui-text","z":"72a6bd0ef31ac79d","group":"b9f953aa7b7543e0","order":11,"width":"0","height":"0","name":"Magnetometer Uptime","label":"Magnetometer Uptime:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1520,"wires":[]},{"id":"476c41e89a775d52","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_uptime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3545,"y":1520,"wires":[["42bc4d83d1b0e8e7"]],"l":false},{"id":"f738b6a2b276e71a","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":11,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4100,"y":1500,"wires":[]},{"id":"8a5ebccb63eac292","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3965,"y":1500,"wires":[["f738b6a2b276e71a"]],"l":false},{"id":"48d71354f7a8e23f","type":"ui-text","z":"72a6bd0ef31ac79d","group":"7ed4c231392489bd","order":10,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4050,"y":1460,"wires":[]},{"id":"303cbd27a73ddd2f","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 198","links":["9fc997204aefaed5","aaf0b29f50c207f6"],"x":3855,"y":1320,"wires":[["1155b96e3bc95afe","702fedb39c82405a","d5f0235c7dd0ca0f","195cec587bedd023","1afec932b28f7ced","582d94a5a17b4823","a3f02f0b760b1678","8a5ebccb63eac292"]]},{"id":"29a052d8f1e8c227","type":"function","z":"72a6bd0ef31ac79d","name":"muInitShow","func":"let unit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-uptime:muInspect1\",\n            \"ncd-uptime:muInspect2\",\n            \"ncd-uptime:muInspect3\"\n        ],\n        show:\n        [\n            \"ncd-uptime:muDigitalInCount1\", \n            \"ncd-uptime:muDigitalInCount2\",\n            \"ncd-uptime:muDigitalInCount3\",\n            \"ncd-uptime:muDigitalInUptime1\",\n            \"ncd-uptime:muDigitalInUptime2\",\n            \"ncd-uptime:muDigitalInUptime3\",\n            \"ncd-uptime:muAccInCount\",\n            \"ncd-uptime:muAccInUptime\",\n            \"ncd-uptime:muMagInCount\",\n            \"ncd-uptime:muMagInUptime\",\n            \"ncd-uptime:muBattery\",\n            \"ncd-uptime:muBatteryChart\"\n        ],\n        enable:\n        [\n            \"ncd-uptime:muSelectMac\",\n            \"ncd-uptime:muDownload\"\n        ]  \n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3440,"y":460,"wires":[["7e85562cf21865ff"]]},{"id":"7af5b30e67b15a56","type":"ui-event","z":"72a6bd0ef31ac79d","ui":"ec459411017ddf37","name":"muEvent","x":3250,"y":460,"wires":[["29a052d8f1e8c227"]]},{"id":"f007b3d942338fb1","type":"link out","z":"72a6bd0ef31ac79d","name":"link out 129","mode":"link","links":["152baf73d04cb7e8","ac93237786e36a8d","83366118585eacf6","ed889722534effc1","87ffb80a0a4faee2","568fd1099d9dba01","6d6d93dc563cd636","dbc892e1821edc8d","9cd1e61ec785a407","18e9b78c89300c50"],"x":2765,"y":1060,"wires":[]},{"id":"08627c441ff3bf3d","type":"link out","z":"72a6bd0ef31ac79d","name":"link out 130","mode":"link","links":["152baf73d04cb7e8","ac93237786e36a8d","83366118585eacf6","ed889722534effc1","568fd1099d9dba01","87ffb80a0a4faee2","6d6d93dc563cd636","dbc892e1821edc8d","ccf2631ce6631cc5","9cd1e61ec785a407","18e9b78c89300c50"],"x":2705,"y":900,"wires":[]},{"id":"395425ca68280f06","type":"link out","z":"72a6bd0ef31ac79d","name":"toGraphs","mode":"link","links":["88947136ae4c85d4"],"x":2905,"y":1140,"wires":[]},{"id":"1c503b13df5c947d","type":"file in","z":"72a6bd0ef31ac79d","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2275,"y":1100,"wires":[["09776ea27429f74f"]],"l":false},{"id":"09776ea27429f74f","type":"csv","z":"72a6bd0ef31ac79d","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2335,"y":1100,"wires":[["c3063bcf43d47bd8"]],"l":false},{"id":"d6ede65d7a7d133c","type":"change","z":"72a6bd0ef31ac79d","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":920,"wires":[["9756409ff7f4587f"]]},{"id":"5384575c33db0c5c","type":"csv","z":"72a6bd0ef31ac79d","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"battery_percent,counter,sensor_data,sensor_name,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1815,"y":880,"wires":[["e980f3c81b02da07"]],"l":false},{"id":"e980f3c81b02da07","type":"file","z":"72a6bd0ef31ac79d","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1865,"y":880,"wires":[["b9403582ca6a600f","3296b6cf2832e694"]],"l":false},{"id":"b9403582ca6a600f","type":"function","z":"72a6bd0ef31ac79d","name":"getAndSetMAC","func":"let newMAC = msg.data.addr;\nlet count = context.get(\"mucountMAC\") || 0;\n\nfor (let index = 0; index <= count; index++) {\n    let oldMAC = flow.get(\"muMAC[\"+index+\"]\"); // Acces to element 0 of array (MAC)\n    if(oldMAC == newMAC)\n    {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n        return msg;\n    }\n}\n// if new MAC is arrive\nflow.set(\"muMAC[\"+count+\"]\", newMAC); // Save array [MAC, TYPE]\ncount++;\nmsg.mac_counter = count;\nmsg.newdevice = true; \ncontext.set(\"mucountMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2010,"y":900,"wires":[["98f55ab534f4f263","3a621ce08c19f8f7"]]},{"id":"98f55ab534f4f263","type":"function","z":"72a6bd0ef31ac79d","name":"getMACOptionsForDropdown","func":"let count = msg.mac_counter;\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"muMAC[\"+index+\"]\");\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2250,"y":920,"wires":[["23a76ddf6de8c0a8","7eeaeab4ecca3e56"]]},{"id":"b521e6c68f469d6a","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1670,"y":1180,"wires":[["95a189cfdae9243d"]]},{"id":"23a76ddf6de8c0a8","type":"switch","z":"72a6bd0ef31ac79d","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"mumacSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2520,"y":920,"wires":[["d9d4b4e5843c68af"]]},{"id":"7c3d70da9e4fd31a","type":"change","z":"72a6bd0ef31ac79d","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2620,"y":1140,"wires":[["2cffed6650064996"]]},{"id":"2cffed6650064996","type":"json","z":"72a6bd0ef31ac79d","name":"json object","property":"payload.data","action":"","pretty":false,"x":2715,"y":1140,"wires":[["e151ca03b279c9bb"]],"l":false},{"id":"e151ca03b279c9bb","type":"function","z":"72a6bd0ef31ac79d","name":"getData","func":"let data = msg.payload.data;\ndata.Timestamp = msg.payload.col6;\ndata.battery = msg.payload.col1;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2810,"y":1140,"wires":[["395425ca68280f06"]]},{"id":"9756409ff7f4587f","type":"switch","z":"72a6bd0ef31ac79d","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1360,"y":920,"wires":[["6cfe4904198c2453"],["289574b0881b4bcf"],["33d52ea07749da03"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"289574b0881b4bcf","type":"function","z":"72a6bd0ef31ac79d","name":"buildUserFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":920,"wires":[["5384575c33db0c5c"]]},{"id":"33d52ea07749da03","type":"function","z":"72a6bd0ef31ac79d","name":"buildUserFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":960,"wires":[["5384575c33db0c5c"]]},{"id":"95a189cfdae9243d","type":"switch","z":"72a6bd0ef31ac79d","name":"win/lin?","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1850,"y":1180,"wires":[["5c1c4f085ec23626"],["afa7cc13bdb34269"]]},{"id":"5c1c4f085ec23626","type":"function","z":"72a6bd0ef31ac79d","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2030,"y":1160,"wires":[["c2490adb82411b59"]]},{"id":"afa7cc13bdb34269","type":"function","z":"72a6bd0ef31ac79d","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":1200,"wires":[["c2490adb82411b59"]]},{"id":"287476095d488586","type":"catch","z":"72a6bd0ef31ac79d","name":"","scope":["1c503b13df5c947d","e980f3c81b02da07"],"uncaught":false,"x":1855,"y":800,"wires":[["6cfe4904198c2453"]],"l":false},{"id":"6cfe4904198c2453","type":"function","z":"72a6bd0ef31ac79d","name":"function 58","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1945,"y":820,"wires":[[]],"l":false},{"id":"3296b6cf2832e694","type":"function","z":"72a6bd0ef31ac79d","name":"function 59","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1945,"y":860,"wires":[[]],"l":false},{"id":"471e8ea165efd351","type":"switch","z":"72a6bd0ef31ac79d","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":930,"y":880,"wires":[["1ea963f49618faad"],["d6ede65d7a7d133c"]],"outputLabels":["defaultPath","userPath"]},{"id":"07dec5eb09f68d75","type":"change","z":"72a6bd0ef31ac79d","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":820,"wires":[["9befd8c1a0d6b304"]]},{"id":"f4e4a33a038ad6e5","type":"change","z":"72a6bd0ef31ac79d","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":860,"wires":[["4fe126ead758a3d8"]]},{"id":"4fe126ead758a3d8","type":"switch","z":"72a6bd0ef31ac79d","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":860,"wires":[["5b2f225cdda85a38"]]},{"id":"9befd8c1a0d6b304","type":"switch","z":"72a6bd0ef31ac79d","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":820,"wires":[["74d0f57373efefd6"]]},{"id":"afc1e435685855c4","type":"change","z":"72a6bd0ef31ac79d","name":"getSavePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":880,"wires":[["471e8ea165efd351"]]},{"id":"74d0f57373efefd6","type":"change","z":"72a6bd0ef31ac79d","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":820,"wires":[["1bdfe2bc61f8c624"]]},{"id":"58bb65c28f4864db","type":"function","z":"72a6bd0ef31ac79d","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":860,"wires":[["5384575c33db0c5c"]]},{"id":"1bdfe2bc61f8c624","type":"function","z":"72a6bd0ef31ac79d","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":820,"wires":[["5384575c33db0c5c"]]},{"id":"5b2f225cdda85a38","type":"change","z":"72a6bd0ef31ac79d","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":860,"wires":[["58bb65c28f4864db"]]},{"id":"19e3c80faa3e6837","type":"switch","z":"72a6bd0ef31ac79d","name":"userPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1490,"y":1100,"wires":[["d57585a4f36ed7fb","d8b966e80a205090"],["b521e6c68f469d6a"]]},{"id":"f2021f865599a7b4","type":"change","z":"72a6bd0ef31ac79d","name":"userPath&MacSelection","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"mumacSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1100,"wires":[["19e3c80faa3e6837"]]},{"id":"d8b966e80a205090","type":"change","z":"72a6bd0ef31ac79d","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":1040,"wires":[["0f4f9a5b99bd91ef"]]},{"id":"d57585a4f36ed7fb","type":"change","z":"72a6bd0ef31ac79d","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":1100,"wires":[["cace666ddeb53f1d"]]},{"id":"cace666ddeb53f1d","type":"switch","z":"72a6bd0ef31ac79d","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1780,"y":1100,"wires":[["376db6720dbdb80e"]]},{"id":"0f4f9a5b99bd91ef","type":"switch","z":"72a6bd0ef31ac79d","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1780,"y":1040,"wires":[["231ac13e36c5588e"]]},{"id":"ed816c223e61230c","type":"function","z":"72a6bd0ef31ac79d","name":"buildPathWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2140,"y":1100,"wires":[["1c503b13df5c947d"]]},{"id":"9dba43fe78995ab2","type":"function","z":"72a6bd0ef31ac79d","name":"buildPathLin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2140,"y":1040,"wires":[["1c503b13df5c947d"]]},{"id":"231ac13e36c5588e","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1950,"y":1040,"wires":[["9dba43fe78995ab2"]]},{"id":"376db6720dbdb80e","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1950,"y":1100,"wires":[["ed816c223e61230c"]]},{"id":"c3063bcf43d47bd8","type":"function","z":"72a6bd0ef31ac79d","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\nconst array = msg.payload;\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send([[null], [msg]]); \n}\nmsg.payload = array[array.length - 1];\nreturn [msg, null];\n","outputs":2,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":2450,"y":1100,"wires":[["28696f92cb8fdd8b","3fd27b1d3d935fae"],["7c3d70da9e4fd31a"]]},{"id":"8558b81c13c7df1f","type":"catch","z":"72a6bd0ef31ac79d","name":"","scope":["2cffed6650064996"],"uncaught":false,"x":2570,"y":880,"wires":[[]]},{"id":"d9d4b4e5843c68af","type":"function","z":"72a6bd0ef31ac79d","name":"function 60","func":"let inspect = flow.get(\"muInspect\") || false;\nlet data = msg.data.sensor_data;\ndata.Timestamp = msg.data.received;\ndata.battery = Number(msg.data.battery_percent);\nmsg.payload = [data];\nif(inspect){\n    return [msg, msg];\n}\nreturn [msg, null];\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2655,"y":920,"wires":[["08627c441ff3bf3d"],["9fc997204aefaed5"]],"l":false},{"id":"28696f92cb8fdd8b","type":"change","z":"72a6bd0ef31ac79d","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2620,"y":1060,"wires":[["e52b389b8da81bd0"]]},{"id":"3fd27b1d3d935fae","type":"change","z":"72a6bd0ef31ac79d","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2630,"y":1100,"wires":[["2bb787501c1129c0"]]},{"id":"e52b389b8da81bd0","type":"json","z":"72a6bd0ef31ac79d","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":2715,"y":1060,"wires":[["f007b3d942338fb1"]],"l":false},{"id":"78bdf91516e02026","type":"switch","z":"72a6bd0ef31ac79d","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"108","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":580,"y":900,"wires":[["afc1e435685855c4"],["5ae9d63b157cf855"]]},{"id":"5ae9d63b157cf855","type":"function","z":"72a6bd0ef31ac79d","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":920,"wires":[["5bfc6aa5af287af8"]]},{"id":"5bfc6aa5af287af8","type":"link out","z":"72a6bd0ef31ac79d","name":"link out 131","mode":"link","links":["310e5d4cd408b355"],"x":885,"y":920,"wires":[]},{"id":"310e5d4cd408b355","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 199","links":["5bfc6aa5af287af8"],"x":1945,"y":780,"wires":[[]]},{"id":"2f9da86707622814","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 200","links":[],"x":785,"y":1120,"wires":[["7eeaeab4ecca3e56"]]},{"id":"542447fcab8c1cfb","type":"change","z":"72a6bd0ef31ac79d","name":"clearInspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"-\",\"sensor_data\":{},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"time","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1195,"y":1140,"wires":[["aaf0b29f50c207f6"]],"l":false},{"id":"aaf0b29f50c207f6","type":"link out","z":"72a6bd0ef31ac79d","name":"link out 132","mode":"link","links":["1b43251ead0bb78b","26c1be4208b3aa74","303cbd27a73ddd2f","e3e34b286890c8e3"],"x":1245,"y":1140,"wires":[]},{"id":"409c28146f50e33e","type":"function","z":"72a6bd0ef31ac79d","name":"inspectCheck","func":"let actualMAC = msg.payload;\nlet lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1100,"wires":[["542447fcab8c1cfb","f2021f865599a7b4"]]},{"id":"2bb787501c1129c0","type":"link out","z":"72a6bd0ef31ac79d","name":"link out 133","mode":"link","links":["ccf2631ce6631cc5"],"x":2735,"y":1100,"wires":[]},{"id":"36477075bc740da8","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new NCD device with MAC (\"&(data.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2185,"y":880,"wires":[["56b11f4f783ae81f"]],"l":false},{"id":"7eeaeab4ecca3e56","type":"ui-dropdown","z":"72a6bd0ef31ac79d","group":"03a7aa0e9b81e755","name":"Select MAC","label":"MAC","tooltip":"","order":1,"width":"","height":"","passthru":false,"multiple":false,"options":[{"label":"Waiting for sensors...","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"muselectMAC","x":890,"y":1100,"wires":[["409c28146f50e33e","eabb6c20bfa56701"]]},{"id":"56b11f4f783ae81f","type":"ui-notification","z":"72a6bd0ef31ac79d","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":2290,"y":880,"wires":[]},{"id":"3a621ce08c19f8f7","type":"switch","z":"72a6bd0ef31ac79d","name":"","property":"newdevice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2135,"y":880,"wires":[["36477075bc740da8"]],"l":false},{"id":"9fc997204aefaed5","type":"link out","z":"72a6bd0ef31ac79d","name":"link out 134","mode":"link","links":["1b43251ead0bb78b","26c1be4208b3aa74","303cbd27a73ddd2f"],"x":2705,"y":940,"wires":[]},{"id":"eabb6c20bfa56701","type":"function","z":"72a6bd0ef31ac79d","name":"function 61","func":"let count = msg.mac_counter;\nfor (let index = 0; index < count; index++) {\n    if(msg.payload == flow.get(\"muMAC[\"+index+\"]\"))\n    {\n        flow.set(\"muNumSelectedMAC\", index);\n        return msg\n    }\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1140,"wires":[[]]},{"id":"dfaf6af3a87ecf43","type":"inject","z":"72a6bd0ef31ac79d","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":3245,"y":540,"wires":[["86f22976fe668813"]],"l":false},{"id":"86f22976fe668813","type":"change","z":"72a6bd0ef31ac79d","name":"deleteFlowVar","rules":[{"t":"delete","p":"muMAC","pt":"flow"},{"t":"delete","p":"mumacSelection","pt":"flow"},{"t":"delete","p":"muDateDownloadFile","pt":"flow"},{"t":"delete","p":"muInspect","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"delete","p":"muNumSelectedMAC","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3295,"y":540,"wires":[["29a052d8f1e8c227","3ce48dbe48ebe883"]],"icon":"font-awesome/fa-remove","l":false},{"id":"3ce48dbe48ebe883","type":"link out","z":"72a6bd0ef31ac79d","name":"link out 136","mode":"link","links":["152baf73d04cb7e8","ac93237786e36a8d","83366118585eacf6","ba2a30abf4116018","ed889722534effc1","87ffb80a0a4faee2","568fd1099d9dba01","6d6d93dc563cd636","dbc892e1821edc8d","9cd1e61ec785a407","18e9b78c89300c50"],"x":3365,"y":540,"wires":[]},{"id":"8d494e7e6f68c9bb","type":"ui-chart","z":"72a6bd0ef31ac79d","group":"1f45ebd971768bdb","name":"Battery History Chart","label":"","order":2,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"battery","ymin":"5","ymax":"100","action":"append","pointShape":"circle","pointRadius":"3","showLegend":false,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#ffce21","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"6","height":"5","className":"muBatteryChart","x":4440,"y":800,"wires":[[]]},{"id":"ee499c5323191571","type":"range","z":"72a6bd0ef31ac79d","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4295,"y":700,"wires":[["2bc02175ba2ee0e7"]],"l":false},{"id":"ba2a30abf4116018","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 201","links":["3ce48dbe48ebe883"],"x":4215,"y":700,"wires":[["ee499c5323191571","8d494e7e6f68c9bb"]]},{"id":"88947136ae4c85d4","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 202","links":["395425ca68280f06"],"x":4265,"y":840,"wires":[["8d494e7e6f68c9bb"]]},{"id":"f8445a1aa9ebd675","type":"change","z":"72a6bd0ef31ac79d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4265,"y":800,"wires":[["8d494e7e6f68c9bb"]],"l":false},{"id":"e3e34b286890c8e3","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 203","links":["aaf0b29f50c207f6"],"x":4215,"y":800,"wires":[["f8445a1aa9ebd675"]]},{"id":"8d571e268488a295","type":"ui-template","z":"72a6bd0ef31ac79d","g":"63ae754f3bba5a84","group":"","page":"a86bc042451923a9","ui":"","name":"muStyle","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-image: url(\"\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color:#141316;\n}\n.bg-group-background{\n    border-width: 2.1px !important;\n    border-radius:  25px !important;\n    background-color: #1f2027 !important;\n    border-color: #1f2027 !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: rgb(5, 5, 5, 141) !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: rgba(4, 4, 4, 0.653) !important;\n}\n.muGroupSelectMac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.muGroupSelectMac .v-card {\n    height: 92px !important;\n}\n.muInspectGroup .v-card{\n    height: 1077px !important;\n}\n.muTitles\n{\n    top: -16px;\n    left: -18px;\n    position: relative;\n    width: 320px !important;\n    background-color: #454447;\n}\n.muTitles .nrdb-ui-text{\n    font-weight: bold !important;\n    font-size: 25px;\n    color: aliceblue;\n}\n.muTitleBattChart {\n    top: -20px;\n    left: -18px;\n    position: relative;\n    width: 1590px !important;\n    font-weight: bold !important;\n    background-color: #454447;\n}\n.muTitleBattChart .nrdb-ui-text{\n    font-weight: bold !important;\n    font-size: 25px;\n    color: aliceblue;\n}\n.muBatteryChart{\n    position: relative;\n    top: -40px;\n    height: 310px;\n    width: 1250px;\n}\n.muGroupDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n.muGroupDownload .v-card{\n    height: 155px !important;\n}\n.muDatePicker{\n    top: 12px;\n    left: -12px;\n    width: 155px;\n    position: relative;\n    color: white !important;\n}\n.muMainGroups .v-card {\n    height: 355px !important;\n}\n.muMainGroups {\n    width: 320px !important;\n}\n.muChartGroup .v-card{\n    height: 355px !important;\n}","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":4260,"y":80,"wires":[[]]},{"id":"b3f04371262dbd58","type":"ui-template","z":"72a6bd0ef31ac79d","g":"63ae754f3bba5a84","group":"","page":"a86bc042451923a9","ui":"","name":"muLogo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"mulogo2\">\n        <v-chip label size=\"x-large\" :width=\"144\" color=\"#ffce21\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.mulogo2 {\n    transform: rotate(0deg);\n    width: 130px;\n    position: fixed;\n    top: 13px;\n    left: 12px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4120,"y":80,"wires":[[]]},{"id":"c7acc0a8bf92d84d","type":"ui-template","z":"72a6bd0ef31ac79d","g":"63ae754f3bba5a84","group":"","page":"a86bc042451923a9","ui":"","name":"muProductInfo","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/iot-long-range-wireless-machine-uptime-monitoring-sensor/\" target=\"_blank\">\n        <v-btn class=\"muInfo\" color=\"white\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.muInfo{\n    height: 10px !important;\n    border-radius: 15px !important;\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3960,"y":80,"wires":[[]]},{"id":"048bd7f8704f149d","type":"ui-text-input","z":"72a6bd0ef31ac79d","g":"99b4ccd965b56040","group":"a6636fa6b569badf","name":"muDatePicker","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"muDatePicker","x":3280,"y":80,"wires":[["6ec6e0860616f83e"]]},{"id":"d2a5ef33b04e1ea8","type":"ui-template","z":"72a6bd0ef31ac79d","g":"99b4ccd965b56040","group":"a6636fa6b569badf","page":"","ui":"","name":"muDownload","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/mu/log/ncd-machine-uptime.csv\">\n        <v-btn class=\"muButtonDownload\" color=\"white\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.muButtonDownload{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3730,"y":80,"wires":[[]]},{"id":"6ec6e0860616f83e","type":"change","z":"72a6bd0ef31ac79d","g":"99b4ccd965b56040","name":"","rules":[{"t":"set","p":"muDateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3510,"y":80,"wires":[[]]},{"id":"b9f43dbd2f45679a","type":"function","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3920,"y":200,"wires":[["61e588700469b7e1"]]},{"id":"231bbe19b70cff4b","type":"http response","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","statusCode":"","headers":{},"x":4270,"y":200,"wires":[]},{"id":"61e588700469b7e1","type":"file in","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4120,"y":200,"wires":[["231bbe19b70cff4b"]]},{"id":"f54061231b45d1c2","type":"catch","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","scope":["61e588700469b7e1"],"uncaught":false,"x":3710,"y":260,"wires":[["7daf1f6fc7c1bfd4","393eeaf5b39420fe","4cf156d633ad1ff2"]]},{"id":"82e5d14530991f8d","type":"http in","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"muGet","url":"/mu/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":3250,"y":200,"wires":[["9c2b739b77417791","b92bf73885083cd1"]]},{"id":"39d698ca1fc538f4","type":"change","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"muDateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3730,"y":200,"wires":[["b9f43dbd2f45679a"]]},{"id":"9c2b739b77417791","type":"change","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3355,"y":180,"wires":[["d9225d6963ef626d"]],"l":false},{"id":"b92bf73885083cd1","type":"change","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3355,"y":220,"wires":[["efc18bfb7c29f7df"]],"l":false},{"id":"d9225d6963ef626d","type":"switch","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3405,"y":180,"wires":[["99a8eaa03a372d74"]],"l":false},{"id":"efc18bfb7c29f7df","type":"switch","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3405,"y":220,"wires":[["e507535630c992de"]],"l":false},{"id":"99a8eaa03a372d74","type":"change","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"mumacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3540,"y":180,"wires":[["39d698ca1fc538f4"]]},{"id":"34ef60d8a9e5605d","type":"ui-notification","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":4230,"y":240,"wires":[]},{"id":"7daf1f6fc7c1bfd4","type":"function","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"error message","func":"var error = \"Error: no such file or directory\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3880,"y":240,"wires":[["9924b73754b1932b"]]},{"id":"9924b73754b1932b","type":"trigger","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3995,"y":240,"wires":[["34ef60d8a9e5605d"]],"l":false},{"id":"e507535630c992de","type":"change","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"mumacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3540,"y":220,"wires":[["39d698ca1fc538f4"]]},{"id":"393eeaf5b39420fe","type":"http response","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"muRedirecting","statusCode":"302","headers":{"location":"/dashboard/uptime"},"x":3880,"y":280,"wires":[]},{"id":"4cf156d633ad1ff2","type":"trigger","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3815,"y":320,"wires":[["ef5f1cae33b8d992"]],"l":false},{"id":"ef5f1cae33b8d992","type":"link out","z":"72a6bd0ef31ac79d","g":"408623ef4319af96","name":"link out 135","mode":"link","links":["2130ef6beee46316"],"x":3865,"y":320,"wires":[]},{"id":"2130ef6beee46316","type":"link in","z":"72a6bd0ef31ac79d","name":"link in 204","links":["ef5f1cae33b8d992"],"x":3295,"y":500,"wires":[["29a052d8f1e8c227"]]},{"id":"c2490adb82411b59","type":"junction","z":"72a6bd0ef31ac79d","x":2210,"y":1180,"wires":[["1c503b13df5c947d"]]},{"id":"1ea963f49618faad","type":"junction","z":"72a6bd0ef31ac79d","x":1060,"y":840,"wires":[["07dec5eb09f68d75","f4e4a33a038ad6e5"]]},{"id":"63ae754f3bba5a84","type":"group","z":"72a6bd0ef31ac79d","name":"STYLE","style":{"stroke":"#999999","fill":"none","fill-opacity":"1","label":true,"color":"#a4a4a4"},"nodes":["8d571e268488a295","b3f04371262dbd58","c7acc0a8bf92d84d"],"x":3854,"y":39,"w":492,"h":82},{"id":"99b4ccd965b56040","type":"group","z":"72a6bd0ef31ac79d","name":"","style":{"fill":"none","label":true},"nodes":["048bd7f8704f149d","d2a5ef33b04e1ea8","6ec6e0860616f83e"],"x":3174,"y":39,"w":652,"h":82},{"id":"408623ef4319af96","type":"group","z":"72a6bd0ef31ac79d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b9f43dbd2f45679a","231bbe19b70cff4b","61e588700469b7e1","f54061231b45d1c2","82e5d14530991f8d","39d698ca1fc538f4","9c2b739b77417791","b92bf73885083cd1","d9225d6963ef626d","efc18bfb7c29f7df","99a8eaa03a372d74","34ef60d8a9e5605d","7daf1f6fc7c1bfd4","9924b73754b1932b","e507535630c992de","393eeaf5b39420fe","4cf156d633ad1ff2","ef5f1cae33b8d992"],"x":3174,"y":139,"w":1172,"h":222},{"id":"32b670ce2071788b","type":"ui-group","name":"muDigitalInCount1","page":"a86bc042451923a9","width":"2","height":"1","order":3,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"2bea7fde644b2465","type":"ui-group","name":"muDigitalInUptime1","page":"a86bc042451923a9","width":"2","height":"1","order":8,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"8b17f15dd1d3ad8f","type":"ui-group","name":"muDigitalInCount2","page":"a86bc042451923a9","width":"2","height":"1","order":4,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"5523dce91f05076b","type":"ui-group","name":"muDigitalInUptime2","page":"a86bc042451923a9","width":"2","height":"1","order":9,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"27ea0ec3f151e6c0","type":"ui-group","name":"muDigitalInCount3","page":"a86bc042451923a9","width":"2","height":"1","order":5,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"fe093469dea6bb18","type":"ui-group","name":"muDigitalInUptime3","page":"a86bc042451923a9","width":"2","height":"1","order":10,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"41a82805c3af896c","type":"ui-group","name":"muAccInCount","page":"a86bc042451923a9","width":"2","height":"1","order":6,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"0ff33a220e8025ea","type":"ui-group","name":"muAccInUptime","page":"a86bc042451923a9","width":"2","height":"1","order":11,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"84f9abfe81f3e191","type":"ui-group","name":"muMagInCount","page":"a86bc042451923a9","width":"4","height":"1","order":7,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"1bd42e6c7d5dba1d","type":"ui-group","name":"muMagInUptime","page":"a86bc042451923a9","width":"4","height":"1","order":12,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"8efbb7965d5e098c","type":"ui-group","name":"muBattery","page":"a86bc042451923a9","width":"2","height":"1","order":14,"showTitle":false,"className":"muMainGroups","visible":"true","disabled":"false"},{"id":"1f45ebd971768bdb","type":"ui-group","name":"muBatteryChart","page":"a86bc042451923a9","width":"8","height":"1","order":13,"showTitle":false,"className":"muChartGroup","visible":"true","disabled":"false"},{"id":"a86bc042451923a9","type":"ui-page","name":"ncd-uptime","ui":"ec459411017ddf37","path":"/uptime","icon":"update","layout":"grid","theme":"b5f491106ed516b4","order":1,"className":"","visible":true,"disabled":false},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"540f459c401d87a3","type":"ui-group","name":"muInspect1","page":"a86bc042451923a9","width":"3","height":"1","order":15,"showTitle":false,"className":"muInspectGroup","visible":"true","disabled":"false"},{"id":"b9f953aa7b7543e0","type":"ui-group","name":"muInspect2","page":"a86bc042451923a9","width":"3","height":"1","order":16,"showTitle":false,"className":"muInspectGroup","visible":"true","disabled":"false"},{"id":"7ed4c231392489bd","type":"ui-group","name":"muInspect3","page":"a86bc042451923a9","width":"3","height":"1","order":17,"showTitle":false,"className":"muInspectGroup","visible":"true","disabled":"false"},{"id":"03a7aa0e9b81e755","type":"ui-group","name":"muSelectMac","page":"a86bc042451923a9","width":"6","height":"1","order":1,"showTitle":false,"className":"muGroupSelectMac","visible":"true","disabled":"false"},{"id":"a6636fa6b569badf","type":"ui-group","name":"muDownload","page":"a86bc042451923a9","width":"6","height":"1","order":2,"showTitle":false,"className":"muGroupDownload","visible":"true","disabled":"false"},{"id":"b5f491106ed516b4","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#000000","groupBg":"#191a1a","groupOutline":"#313030"},"sizes":{"pagePadding":"12px","groupGap":"6px","groupBorderRadius":"8px","widgetGap":"10px"}},{"id":"26ab30b8a46487cd","type":"subflow:72a6bd0ef31ac79d","z":"263e304177cfb150","name":"","x":750,"y":480,"wires":[]}]
